### Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from dateutil import parser

### Importing the data

In [2]:
raw_train = pd.read_csv('train.csv')
raw_test = pd.read_csv('test_x.csv')

train_df = raw_train.copy()
test_df = raw_test.copy()

/var/folders/q7/w_hh_4ds07n_pl9zc0p1wxbc0000gn/T/ipykernel_8662/1415330426.py:1: DtypeWarning: Columns (13,15,19,30,32,37,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_train = pd.read_csv('train.csv')

### Functions

In [3]:
def analyze_dataframe(df):
    """
    Function to analyze a DataFrame by printing:
    - Shape of the DataFrame
    - Information about each column (non-null count and data type)
    - Descriptive statistics for numerical columns
    - Number of missing values in each column
    - List of all column names

    Parameters:
    df (pd.DataFrame): The DataFrame to analyze
    """
    # Print shape of the DataFrame
    print("SHAPE")
    print(df.shape)
    print("\n----------------------------------------------------\n")
    
    # Print column information (non-null count, data types)
    print(df.info())
    print("\n----------------------------------------------------\n")
    
    # Print descriptive statistics for numerical columns
    print(df.describe())
    print("\n----------------------------------------------------\n")
    
    # Print count of missing values in each column
    print(df.isna().sum())
    print("\n----------------------------------------------------\n")
    
    # Print all column names
    print(df.columns)

In [4]:
def analyze_column(df, column_name):
    """
    Function to analyze a column in a DataFrame by printing:
    - Unique values
    - Value counts (including NaNs)
    - Number of missing values (NaNs)

    Parameters:
    df (pd.DataFrame): The DataFrame containing the column
    column_name (str): The name of the column to analyze
    """
    # Print unique values
    print(f"Unique values in '{column_name}':")
    print(df[column_name].unique())
    print(' ')
    
    # Print value counts (including NaNs)
    print(f"Value counts in '{column_name}' (including NaNs):")
    print(df[column_name].value_counts(dropna=False))
    print(' ')
    
    # Print the number of missing values (NaNs)
    print(f"Number of missing values (NaNs) in '{column_name}':")
    print(df[column_name].isna().sum())
    
    print(' ')
    print(df[column_name].describe())

In [5]:
def standardize_dates(df, date_column):
    """
    Standardizes date formats in the specified column of the DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the date column.
    date_column (str): The name of the column containing dates in various formats.

    Returns:
    pd.DataFrame: DataFrame with the standardized date column.
    """
    def parse_date(date_str):
        try:
            return parser.parse(date_str, dayfirst=True)
        except (ValueError, TypeError):
            return pd.NaT

    # Apply the parsing function
    df['Parsed Date'] = df[date_column].apply(parse_date)

    # Ensure 'Parsed Date' column is of datetime type
    df['Parsed Date'] = pd.to_datetime(df['Parsed Date'], errors='coerce')

    # Convert to standard format
    df['Standardized Date'] = df['Parsed Date'].dt.strftime('%Y-%m-%d')

    # Replace original column and clean up
    df[date_column] = df['Standardized Date']
    df = df.drop(columns=['Parsed Date', 'Standardized Date'])
    
    return df

In [6]:
def plot_boxplot_with_outliers(df, column_name):
    """
    Plots a boxplot of the specified column, highlighting the outliers.
    
    Parameters:
    df (pd.DataFrame): The DataFrame containing the data.
    column_name (str): The name of the column to plot.
    """
    # Create a boxplot
    plt.figure(figsize=(10, 12))
    sns.boxplot(data=df, y=column_name)
    
    # Add title and labels
    plt.title(f'Boxplot of {column_name}')
    plt.ylabel(column_name)
    
    # Show the plot
    plt.show()

In [7]:
def list_outlier_values(df, column_name):
    """
    Lists outlier values in a specified column of a DataFrame using the IQR method.

    Parameters:
    df (pd.DataFrame): The DataFrame containing the data.
    column_name (str): The name of the column to check for outliers.

    Returns:
    list: A list of outlier values in the specified column.
    """
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    
    # Calculate the Interquartile Range (IQR)
    IQR = Q3 - Q1
    
    # Determine the outlier boundaries
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Detect outlier values
    outlier_values = df[(df[column_name] < lower_bound) | (df[column_name] > upper_bound)][column_name].tolist()
    
    return outlier_values

In [8]:
cities = [
    "Adana", "Adıyaman", "Afyonkarahisar", "Ağrı", "Aksaray", "Amasya", "Ankara", "Antalya",
    "Ardahan", "Artvin", "Aydın", "Balıkesir", "Bartın", "Batman", "Bayburt", "Bilecik", "Bingöl",
    "Bitlis", "Bolu", "Burdur", "Bursa", "Çanakkale", "Çankırı", "Çorum", "Denizli", "Diyarbakır",
    "Düzce", "Edirne", "Elazığ", "Erzincan", "Erzurum", "Eskişehir", "Gaziantep", "Giresun", "Gümüşhane",
    "Hakkari", "Hatay", "Iğdır", "Isparta", "İstanbul", "İzmir", "Kahramanmaraş", "Karabük", "Karaman",
    "Kars", "Kastamonu", "Kayseri", "Kilis", "Kırıkkale", "Kırklareli", "Kırşehir", "Kocaeli", "Konya",
    "Kütahya", "Malatya", "Manisa", "Mardin", "Mersin", "Muğla", "Muş", "Nevşehir", "Niğde", "Ordu",
    "Osmaniye", "Rize", "Sakarya", "Samsun", "Siirt", "Sinop", "Sivas", "Şanlıurfa", "Şırnak", "Tekirdağ",
    "Tokat", "Trabzon", "Tunceli", "Uşak", "Van", "Yalova", "Yozgat", "Zonguldak"
]

def fill_city(city):
    if pd.isna(city):
        return None
    
    if isinstance(city, str):
        city = city.lower()
        city = city.strip()
        
        for n in cities:
            if n.lower() in city:
                return n
    return None

In [9]:
def standardize_value(value):
    if isinstance(value, str):
        value = value.replace(' ', '')  # Remove spaces
        value = value.replace('-', '-')  # Ensure hyphen consistency
        value = value.replace('vealtı', 've altı')  # Handle specific terms
        return value
    return value

In [10]:
def extract_numbers(text):
    if isinstance(text, str):
        numbers = re.findall(r'\d+', text)
        return int(max(numbers, key=int)) if numbers else 0
    return 0

### 1-) Exploratory Data Analysis

In [11]:
train_df.head()

,Basvuru Yili,Degerlendirme Puani,Cinsiyet,Dogum Tarihi,Dogum Yeri,Ikametgah Sehri,Universite Adi,Universite Turu,Burslu ise Burs Yuzdesi,Burs Aliyor mu?,...,Spor Dalindaki Rolunuz Nedir?,Aktif olarak bir STK üyesi misiniz?,Hangi STK'nin Uyesisiniz?,Stk Projesine Katildiniz Mi?,Girisimcilikle Ilgili Deneyiminiz Var Mi?,Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?,Ingilizce Biliyor musunuz?,Ingilizce Seviyeniz?,"Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite",id
0,2014,52.0,Erkek,4/6/1994,"Altindag, Ankara",Ankara,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Evet,...,Diğer,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,0
1,2014,30.0,Erkek,6/11/1993,Üsküdar,İstanbul,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Hayır,...,0,Hayır,NaN,Evet,Evet,Bilkent Cyberparkta bir şirkette Türkiye nin i...,NaN,NaN,NaN,1
2,2014,18.0,Erkek,1/15/1986,Samsun,İstanbul,ULUSLARARASI KIBRIS ÜNİVERSİTESİ,Özel,100.0,Hayır,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,2
3,2014,40.0,Erkek,6/4/1991,Diyarbakır,İstanbul,İSTANBUL ŞEHİR ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,3
4,2014,24.0,Erkek,2 Kasim 1992,Ankara/Altındağ,Ankara,TURGUT ÖZAL ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,4

In [12]:
analyze_dataframe(train_df)

SHAPE
(65125, 44)

----------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65125 entries, 0 to 65124
Data columns (total 44 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Basvuru Yili                                               65125 non-null  int64
 1   Degerlendirme Puani                                        65124 non-null  float64
 2   Cinsiyet                                                   64956 non-null  object
 3   Dogum Tarihi                                               64948 non-null  object
 4   Dogum Yeri                                                 64334 non-null  object
 5   Ikametgah Sehri                                            63088 non-null  object
 6   Universite Adi                                             64993 non-null  object
 7   Universite Turu                                            64870 non-null  object
 8   Burslu ise Burs Yuzdesi                                    22440 non-null  float64
 9   Burs Aliyor mu?                                            65125 non-null  object
 10  Bölüm                                                      64894 non-null  object
 11  Universite Kacinci Sinif                                   64751 non-null  object
 12  Universite Not Ortalamasi                                  62372 non-null  object
 13  Daha Once Baska Bir Universiteden Mezun Olmus              27780 non-null  object
 14  Lise Adi                                                   64741 non-null  object
 15  Lise Adi Diger                                             4733 non-null   object
 16  Lise Sehir                                                 64071 non-null  object
 17  Lise Turu                                                  64278 non-null  object
 18  Lise Bolumu                                                64116 non-null  object
 19  Lise Bolum Diger                                           1526 non-null   object
 20  Lise Mezuniyet Notu                                        59208 non-null  object
 21  Baska Bir Kurumdan Burs Aliyor mu?                         64894 non-null  object
 22  Burs Aldigi Baska Kurum                                    21148 non-null  object
 23  Baska Kurumdan Aldigi Burs Miktari                         20963 non-null  object
 24  Anne Egitim Durumu                                         64719 non-null  object
 25  Anne Calisma Durumu                                        53229 non-null  object
 26  Anne Sektor                                                30588 non-null  object
 27  Baba Egitim Durumu                                         64118 non-null  object
 28  Baba Calisma Durumu                                        52507 non-null  object
 29  Baba Sektor                                                44747 non-null  object
 30  Kardes Sayisi                                              63993 non-null  object
 31  Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?       63296 non-null  object
 32  Uye Oldugunuz Kulubun Ismi                                 16434 non-null  object
 33  Profesyonel Bir Spor Daliyla Mesgul musunuz?               64010 non-null  object
 34  Spor Dalindaki Rolunuz Nedir?                              32850 non-null  object
 35  Aktif olarak bir STK üyesi misiniz?                        52283 non-null  object
 36  Hangi STK'nin Uyesisiniz?                                  15607 non-null  object
 37  Stk Projesine Katildiniz Mi?                               36817 non-null  object
 38  Girisimcilikle Ilgili Deneyiminiz Var Mi?                  52285 non-null  object
 39  Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?  14599 non-null  object
 40  Ingilizce Biliyor musunuz?                                 58671 non-null  object
 41  Ingilizce Seviyeniz?                                       28592 non-null  object
 42  Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite      419 non-null    object
 43  id                                                         65125 non-null  int64
dtypes: float64(2), int64(2), object(40)
memory usage: 21.9+ MB
None

----------------------------------------------------

       Basvuru Yili  Degerlendirme Puani  Burslu ise Burs Yuzdesi  \
count  65125.000000         65124.000000             22440.000000
mean    2018.277298            32.086466                34.226181
std        2.669979            18.139239                41.632412
min     2014.000000             0.000000                 0.000000
25%     2016.000000            18.000000                 0.000000
50%     2019.000000            29.000000                 0.000000
75%     2021.000000            44.000000                75.000000
max     2022.000000           102.000000               100.000000

                 id
count  65125.000000
mean   32562.000000
std    18800.112478
min        0.000000
25%    16281.000000
50%    32562.000000
75%    48843.000000
max    65124.000000

----------------------------------------------------

Basvuru Yili                                                     0
Degerlendirme Puani                                              1
Cinsiyet                                                       169
Dogum Tarihi                                                   177
Dogum Yeri                                                     791
Ikametgah Sehri                                               2037
Universite Adi                                                 132
Universite Turu                                                255
Burslu ise Burs Yuzdesi                                      42685
Burs Aliyor mu?                                                  0
Bölüm                                                          231
Universite Kacinci Sinif                                       374
Universite Not Ortalamasi                                     2753
Daha Once Baska Bir Universiteden Mezun Olmus                37345
Lise Adi                                                       384
Lise Adi Diger                                               60392
Lise Sehir                                                    1054
Lise Turu                                                      847
Lise Bolumu                                                   1009
Lise Bolum Diger                                             63599
Lise Mezuniyet Notu                                           5917
Baska Bir Kurumdan Burs Aliyor mu?                             231
Burs Aldigi Baska Kurum                                      43977
Baska Kurumdan Aldigi Burs Miktari                           44162
Anne Egitim Durumu                                             406
Anne Calisma Durumu                                          11896
Anne Sektor                                                  34537
Baba Egitim Durumu                                            1007
Baba Calisma Durumu                                          12618
Baba Sektor                                                  20378
Kardes Sayisi                                                 1132
Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?          1829
Uye Oldugunuz Kulubun Ismi                                   48691
Profesyonel Bir Spor Daliyla Mesgul musunuz?                  1115
Spor Dalindaki Rolunuz Nedir?                                32275
Aktif olarak bir STK üyesi misiniz?                          12842
Hangi STK'nin Uyesisiniz?                                    49518
Stk Projesine Katildiniz Mi?                                 28308
Girisimcilikle Ilgili Deneyiminiz Var Mi?                    12840
Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?    50526
Ingilizce Biliyor musunuz?                                    6454
Ingilizce Seviyeniz?                                         36533
Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite        64706
id                                                               0
dtype: int64

----------------------------------------------------

Index(['Basvuru Yili', 'Degerlendirme Puani', 'Cinsiyet', 'Dogum Tarihi',
       'Dogum Yeri', 'Ikametgah Sehri', 'Universite Adi', 'Universite Turu',
       'Burslu ise Burs Yuzdesi', 'Burs Aliyor mu?', 'Bölüm',
       'Universite Kacinci Sinif', 'Universite Not Ortalamasi',
       'Daha Once Baska Bir Universiteden Mezun Olmus', 'Lise Adi',
       'Lise Adi Diger', 'Lise Sehir', 'Lise Turu', 'Lise Bolumu',
       'Lise Bolum Diger', 'Lise Mezuniyet Notu',
       'Baska Bir Kurumdan Burs Aliyor mu?', 'Burs Aldigi Baska Kurum',
       'Baska Kurumdan Aldigi Burs Miktari', 'Anne Egitim Durumu',
       'Anne Calisma Durumu', 'Anne Sektor', 'Baba Egitim Durumu',
       'Baba Calisma Durumu', 'Baba Sektor', 'Kardes Sayisi',
       'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?',
       'Uye Oldugunuz Kulubun Ismi',
       'Profesyonel Bir Spor Daliyla Mesgul musunuz?',
       'Spor Dalindaki Rolunuz Nedir?', 'Aktif olarak bir STK üyesi misiniz?',
       'Hangi STK'nin Uyesisiniz?', 'Stk Projesine Katildiniz Mi?',
       'Girisimcilikle Ilgili Deneyiminiz Var Mi?',
       'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?',
       'Ingilizce Biliyor musunuz?', 'Ingilizce Seviyeniz?',
       'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite', 'id'],
      dtype='object')

## 2-) Preproccessing

### 2.1-) Degerlendirme Puani

In [13]:
analyze_column(train_df, 'Degerlendirme Puani')

Unique values in 'Degerlendirme Puani':
[ 52.  30.  18.  40.  24.  37.  31.  28.  26.  58.  34.  33.  48.  10.
   8.  54.  14.  44.  60.  42.  22.  16.  29.  46.  41.  50.  53.  36.
  32.  38.  20.  12.  51.  65.  56.  61.  62.  49.  70.  43.  23.  64.
  59.  57.  63.  71.  98.  21.  66.  27.  39.  68.  85.  45.  67.  47.
  78.  19.  13.  90.  72.  77.  55.   6.  79.  76.  75.  74.  73.  17.
  80.  84.  86.  82.  88.  92.  94.  96. 102.   7.   4.  15.  35.  25.
   5.  11.   9.   3.   2.   1.   0.  69.  81.  89.  83. 100.  95.  nan]

Value counts in 'Degerlendirme Puani' (including NaNs):
Degerlendirme Puani
28.0     2063
22.0     2041
18.0     1995
24.0     1785
12.0     1740
         ...
83.0        2
100.0       2
89.0        1
95.0        1
NaN         1
Name: count, Length: 98, dtype: int64

Number of missing values (NaNs) in 'Degerlendirme Puani':
1

count    65124.000000
mean        32.086466
std         18.139239
min          0.000000
25%         18.000000
50%         29.000000
75%         44.000000
max        102.000000
Name: Degerlendirme Puani, dtype: float64

In [14]:
train_df['Degerlendirme Puani'] = train_df['Degerlendirme Puani'].fillna(train_df['Degerlendirme Puani'].median())

In [15]:
analyze_column(train_df, 'Degerlendirme Puani')

Unique values in 'Degerlendirme Puani':
[ 52.  30.  18.  40.  24.  37.  31.  28.  26.  58.  34.  33.  48.  10.
   8.  54.  14.  44.  60.  42.  22.  16.  29.  46.  41.  50.  53.  36.
  32.  38.  20.  12.  51.  65.  56.  61.  62.  49.  70.  43.  23.  64.
  59.  57.  63.  71.  98.  21.  66.  27.  39.  68.  85.  45.  67.  47.
  78.  19.  13.  90.  72.  77.  55.   6.  79.  76.  75.  74.  73.  17.
  80.  84.  86.  82.  88.  92.  94.  96. 102.   7.   4.  15.  35.  25.
   5.  11.   9.   3.   2.   1.   0.  69.  81.  89.  83. 100.  95.]

Value counts in 'Degerlendirme Puani' (including NaNs):
Degerlendirme Puani
28.0     2063
22.0     2041
18.0     1995
24.0     1785
12.0     1740
         ...
85.0        2
83.0        2
100.0       2
89.0        1
95.0        1
Name: count, Length: 97, dtype: int64

Number of missing values (NaNs) in 'Degerlendirme Puani':
0

count    65125.000000
mean        32.086418
std         18.139104
min          0.000000
25%         18.000000
50%         29.000000
75%         44.000000
max        102.000000
Name: Degerlendirme Puani, dtype: float64

### 2.2-) Cinsiyet

In [16]:
analyze_column(train_df, 'Cinsiyet')

Unique values in 'Cinsiyet':
['Erkek' 'Kadın' 'ERKEK' 'Belirtmek istemiyorum' nan]

Value counts in 'Cinsiyet' (including NaNs):
Cinsiyet
Kadın                    32077
Erkek                    22752
ERKEK                    10012
NaN                        169
Belirtmek istemiyorum      115
Name: count, dtype: int64

Number of missing values (NaNs) in 'Cinsiyet':
169

count     64956
unique        4
top       Kadın
freq      32077
Name: Cinsiyet, dtype: object

In [17]:
train_df['Cinsiyet'] = train_df['Cinsiyet'].replace('ERKEK', 'Erkek')
train_df['Cinsiyet'].isin(['ERKEK']).any()

False

In [18]:
# Replacing the NaN values with 'Erkek'(Mod)

train_df['Cinsiyet'] = train_df['Cinsiyet'].fillna('Erkek')
train_df['Cinsiyet'].value_counts(dropna = False)

Cinsiyet
Erkek                    32933
Kadın                    32077
Belirtmek istemiyorum      115
Name: count, dtype: int64

In [19]:
analyze_column(train_df, 'Cinsiyet')

Unique values in 'Cinsiyet':
['Erkek' 'Kadın' 'Belirtmek istemiyorum']

Value counts in 'Cinsiyet' (including NaNs):
Cinsiyet
Erkek                    32933
Kadın                    32077
Belirtmek istemiyorum      115
Name: count, dtype: int64

Number of missing values (NaNs) in 'Cinsiyet':
0

count     65125
unique        3
top       Erkek
freq      32933
Name: Cinsiyet, dtype: object

In [20]:
label_encoder = LabelEncoder()
train_df['Cinsiyet'] = label_encoder.fit_transform(train_df['Cinsiyet'])

In [21]:
analyze_column(train_df, 'Cinsiyet')

Unique values in 'Cinsiyet':
[1 2 0]

Value counts in 'Cinsiyet' (including NaNs):
Cinsiyet
1    32933
2    32077
0      115
Name: count, dtype: int64

Number of missing values (NaNs) in 'Cinsiyet':
0

count    65125.000000
mean         1.490779
std          0.503439
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          2.000000
Name: Cinsiyet, dtype: float64

### 2.3-) Dogum Tarihi

In [22]:
standardize_dates(train_df, 'Dogum Tarihi')

,Basvuru Yili,Degerlendirme Puani,Cinsiyet,Dogum Tarihi,Dogum Yeri,Ikametgah Sehri,Universite Adi,Universite Turu,Burslu ise Burs Yuzdesi,Burs Aliyor mu?,...,Spor Dalindaki Rolunuz Nedir?,Aktif olarak bir STK üyesi misiniz?,Hangi STK'nin Uyesisiniz?,Stk Projesine Katildiniz Mi?,Girisimcilikle Ilgili Deneyiminiz Var Mi?,Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?,Ingilizce Biliyor musunuz?,Ingilizce Seviyeniz?,"Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite",id
0,2014,52.0,1,1994-06-04,"Altindag, Ankara",Ankara,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Evet,...,Diğer,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,0
1,2014,30.0,1,1993-11-06,Üsküdar,İstanbul,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Hayır,...,0,Hayır,NaN,Evet,Evet,Bilkent Cyberparkta bir şirkette Türkiye nin i...,NaN,NaN,NaN,1
2,2014,18.0,1,1986-01-15,Samsun,İstanbul,ULUSLARARASI KIBRIS ÜNİVERSİTESİ,Özel,100.0,Hayır,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,2
3,2014,40.0,1,1991-04-06,Diyarbakır,İstanbul,İSTANBUL ŞEHİR ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,3
4,2014,24.0,1,NaN,Ankara/Altındağ,Ankara,TURGUT ÖZAL ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65120,2022,0.0,1,2003-06-18,İstanbul,İstanbul,İstanbul Aydın Üniversitesi,Özel,NaN,Evet,...,-,Hayır,-,NaN,Hayır,-,Hayır,NaN,NaN,65120
65121,2022,0.0,1,2002-04-18,Hatay,Muğla,Muğla Sıtkı Koçman Üniversitesi,Devlet,NaN,Hayır,...,-,Hayır,-,NaN,Hayır,-,Hayır,NaN,NaN,65121
65122,2022,0.0,1,1999-10-23,Mersin,Mersin,Süleyman Demirel Üniversitesi,Devlet,NaN,Hayır,...,-,Hayır,-,NaN,Hayır,-,Hayır,NaN,NaN,65122
65123,2022,0.0,1,2000-11-17,Samsun,Samsun,Karabük Üniversitesi,Devlet,NaN,Hayır,...,-,Hayır,-,NaN,Hayır,-,Hayır,NaN,NaN,65123
65124,2022,29.0,2,2000-04-27,Hatay,Hatay,Gaziantep Üniversitesi,Devlet,NaN,Hayır,...,Takım Oyuncusu,Evet,Genç Kızılay Topluluğu'nda 3 yıldır gönüllüyüm...,NaN,Evet,Aile desteğiyle yemek sektöründe küçük bir işl...,Evet,NaN,NaN,65124

In [23]:
analyze_dataframe(train_df)

SHAPE
(65125, 46)

----------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65125 entries, 0 to 65124
Data columns (total 46 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Basvuru Yili                                               65125 non-null  int64
 1   Degerlendirme Puani                                        65125 non-null  float64
 2   Cinsiyet                                                   65125 non-null  int64
 3   Dogum Tarihi                                               62009 non-null  object
 4   Dogum Yeri                                                 64334 non-null  object
 5   Ikametgah Sehri                                            63088 non-null  object
 6   Universite Adi                                             64993 non-null  object
 7   Universite Turu                                            64870 non-null  object
 8   Burslu ise Burs Yuzdesi                                    22440 non-null  float64
 9   Burs Aliyor mu?                                            65125 non-null  object
 10  Bölüm                                                      64894 non-null  object
 11  Universite Kacinci Sinif                                   64751 non-null  object
 12  Universite Not Ortalamasi                                  62372 non-null  object
 13  Daha Once Baska Bir Universiteden Mezun Olmus              27780 non-null  object
 14  Lise Adi                                                   64741 non-null  object
 15  Lise Adi Diger                                             4733 non-null   object
 16  Lise Sehir                                                 64071 non-null  object
 17  Lise Turu                                                  64278 non-null  object
 18  Lise Bolumu                                                64116 non-null  object
 19  Lise Bolum Diger                                           1526 non-null   object
 20  Lise Mezuniyet Notu                                        59208 non-null  object
 21  Baska Bir Kurumdan Burs Aliyor mu?                         64894 non-null  object
 22  Burs Aldigi Baska Kurum                                    21148 non-null  object
 23  Baska Kurumdan Aldigi Burs Miktari                         20963 non-null  object
 24  Anne Egitim Durumu                                         64719 non-null  object
 25  Anne Calisma Durumu                                        53229 non-null  object
 26  Anne Sektor                                                30588 non-null  object
 27  Baba Egitim Durumu                                         64118 non-null  object
 28  Baba Calisma Durumu                                        52507 non-null  object
 29  Baba Sektor                                                44747 non-null  object
 30  Kardes Sayisi                                              63993 non-null  object
 31  Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?       63296 non-null  object
 32  Uye Oldugunuz Kulubun Ismi                                 16434 non-null  object
 33  Profesyonel Bir Spor Daliyla Mesgul musunuz?               64010 non-null  object
 34  Spor Dalindaki Rolunuz Nedir?                              32850 non-null  object
 35  Aktif olarak bir STK üyesi misiniz?                        52283 non-null  object
 36  Hangi STK'nin Uyesisiniz?                                  15607 non-null  object
 37  Stk Projesine Katildiniz Mi?                               36817 non-null  object
 38  Girisimcilikle Ilgili Deneyiminiz Var Mi?                  52285 non-null  object
 39  Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?  14599 non-null  object
 40  Ingilizce Biliyor musunuz?                                 58671 non-null  object
 41  Ingilizce Seviyeniz?                                       28592 non-null  object
 42  Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite      419 non-null    object
 43  id                                                         65125 non-null  int64
 44  Parsed Date                                                62009 non-null  datetime64[ns]
 45  Standardized Date                                          62009 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(40)
memory usage: 22.9+ MB
None

----------------------------------------------------

       Basvuru Yili  Degerlendirme Puani      Cinsiyet  \
count  65125.000000         65125.000000  65125.000000
mean    2018.277298            32.086418      1.490779
min     2014.000000             0.000000      0.000000
25%     2016.000000            18.000000      1.000000
50%     2019.000000            29.000000      1.000000
75%     2021.000000            44.000000      2.000000
max     2022.000000           102.000000      2.000000
std        2.669979            18.139104      0.503439

       Burslu ise Burs Yuzdesi            id                    Parsed Date
count             22440.000000  65125.000000                          62009
mean                 34.226181  32562.000000  1999-08-20 19:58:10.738441216
min                   0.000000      0.000000            1888-08-23 00:00:00
25%                   0.000000  16281.000000            1995-07-02 00:00:00
50%                   0.000000  32562.000000            1998-01-27 00:00:00
75%                  75.000000  48843.000000            2000-05-12 00:00:00
max                 100.000000  65124.000000            2070-03-05 00:00:00
std                  41.632412  18800.112478                            NaN

----------------------------------------------------

Basvuru Yili                                                     0
Degerlendirme Puani                                              0
Cinsiyet                                                         0
Dogum Tarihi                                                  3116
Dogum Yeri                                                     791
Ikametgah Sehri                                               2037
Universite Adi                                                 132
Universite Turu                                                255
Burslu ise Burs Yuzdesi                                      42685
Burs Aliyor mu?                                                  0
Bölüm                                                          231
Universite Kacinci Sinif                                       374
Universite Not Ortalamasi                                     2753
Daha Once Baska Bir Universiteden Mezun Olmus                37345
Lise Adi                                                       384
Lise Adi Diger                                               60392
Lise Sehir                                                    1054
Lise Turu                                                      847
Lise Bolumu                                                   1009
Lise Bolum Diger                                             63599
Lise Mezuniyet Notu                                           5917
Baska Bir Kurumdan Burs Aliyor mu?                             231
Burs Aldigi Baska Kurum                                      43977
Baska Kurumdan Aldigi Burs Miktari                           44162
Anne Egitim Durumu                                             406
Anne Calisma Durumu                                          11896
Anne Sektor                                                  34537
Baba Egitim Durumu                                            1007
Baba Calisma Durumu                                          12618
Baba Sektor                                                  20378
Kardes Sayisi                                                 1132
Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?          1829
Uye Oldugunuz Kulubun Ismi                                   48691
Profesyonel Bir Spor Daliyla Mesgul musunuz?                  1115
Spor Dalindaki Rolunuz Nedir?                                32275
Aktif olarak bir STK üyesi misiniz?                          12842
Hangi STK'nin Uyesisiniz?                                    49518
Stk Projesine Katildiniz Mi?                                 28308
Girisimcilikle Ilgili Deneyiminiz Var Mi?                    12840
Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?    50526
Ingilizce Biliyor musunuz?                                    6454
Ingilizce Seviyeniz?                                         36533
Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite        64706
id                                                               0
Parsed Date                                                   3116
Standardized Date                                             3116
dtype: int64

----------------------------------------------------

Index(['Basvuru Yili', 'Degerlendirme Puani', 'Cinsiyet', 'Dogum Tarihi',
       'Dogum Yeri', 'Ikametgah Sehri', 'Universite Adi', 'Universite Turu',
       'Burslu ise Burs Yuzdesi', 'Burs Aliyor mu?', 'Bölüm',
       'Universite Kacinci Sinif', 'Universite Not Ortalamasi',
       'Daha Once Baska Bir Universiteden Mezun Olmus', 'Lise Adi',
       'Lise Adi Diger', 'Lise Sehir', 'Lise Turu', 'Lise Bolumu',
       'Lise Bolum Diger', 'Lise Mezuniyet Notu',
       'Baska Bir Kurumdan Burs Aliyor mu?', 'Burs Aldigi Baska Kurum',
       'Baska Kurumdan Aldigi Burs Miktari', 'Anne Egitim Durumu',
       'Anne Calisma Durumu', 'Anne Sektor', 'Baba Egitim Durumu',
       'Baba Calisma Durumu', 'Baba Sektor', 'Kardes Sayisi',
       'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?',
       'Uye Oldugunuz Kulubun Ismi',
       'Profesyonel Bir Spor Daliyla Mesgul musunuz?',
       'Spor Dalindaki Rolunuz Nedir?', 'Aktif olarak bir STK üyesi misiniz?',
       'Hangi STK'nin Uyesisiniz?', 'Stk Projesine Katildiniz Mi?',
       'Girisimcilikle Ilgili Deneyiminiz Var Mi?',
       'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?',
       'Ingilizce Biliyor musunuz?', 'Ingilizce Seviyeniz?',
       'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite', 'id',
       'Parsed Date', 'Standardized Date'],
      dtype='object')

In [24]:
train_df['Dogum Tarihi'] = train_df['Parsed Date']

In [25]:
train_df.drop(columns=['Parsed Date', 'Standardized Date'], inplace=True)

In [26]:
reference_date = pd.Timestamp('2023-12-31')

# Calculate the age by dividing the timedelta by one year (in days)
train_df['Dogum Tarihi'] = (reference_date - train_df['Dogum Tarihi']).dt.days / 365.25

print(train_df[['Dogum Tarihi']])

       Dogum Tarihi
0         29.574264
1         30.149213
2         37.957563
3         32.736482
4               NaN
...             ...
65120     20.536619
65121     21.702943
65122     24.188912
65123     23.118412
65124     23.676934

[65125 rows x 1 columns]

In [27]:
analyze_column(train_df, 'Dogum Tarihi')

Unique values in 'Dogum Tarihi':
[29.5742642  30.14921287 37.95756331 ... 20.14784394 20.72553046
 20.13415469]

Value counts in 'Dogum Tarihi' (including NaNs):
Dogum Tarihi
 NaN          3116
-46.006845    1655
 23.997262     290
 22.995209     247
 24.996578     230
              ...
 32.632444       1
 31.008898       1
 34.017796       1
 7.986311        1
 20.134155       1
Name: count, Length: 5050, dtype: int64

Number of missing values (NaNs) in 'Dogum Tarihi':
3116

count    62009.000000
mean        24.361789
std         12.127657
min        -46.176591
25%         23.635866
50%         25.924709
75%         28.498289
max        135.351129
Name: Dogum Tarihi, dtype: float64

In [28]:
outlier_values = list_outlier_values(train_df, 'Dogum Tarihi')
print(outlier_values)

[37.95756331279945, 36.15605749486653, 53.27857631759069, 53.9958932238193, 37.946611909650926, 37.96303901437371, 37.516769336071185, 53.9958932238193, 53.9958932238193, 7.5482546201232035, 7.397672826830938, 7.17864476386037, 7.321013004791239, 6.685831622176591, 2.0424366872005475, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 3.6057494866529773, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 40.082135523613964, 44.39151266255989, 12.996577686516085, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 36.251882272416154, 36.276522929500345, 7.2060232717316905, 7.069130732375085, 94.5845311430527, 6.537987679671458, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 36.479123887748116, 37.65639972621492, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 53.99315537303217, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 37.9958932238193, 53.9958932238193, 36.5201916495551, 36.20260095824778, 53.9958932238193, 43.58110882956879, 35.92607802874743, 53.32511978097194, 36.799452429842574, 53.9958932238193, 35.95893223819302, 37.27310061601643, 53.9958932238193, 53.9958932238193, 43.83025325119781, 53.9958932238193, 53.9958932238193, 53.9958932238193, 53.64271047227926, 36.936344969199176, 37.42368240930869, 46.39835728952772, 36.31211498973306, 53.9958932238193, 40.33949349760438, 35.937029431895965, 47.72621492128679, 37.16084873374401, 53.9958932238193, 53.9958932238193, 53.9958932238193, 41.26488706365503, 38.86926762491444, 38.25598904859685, 37.22655715263518, 53.9958932238193, 36.06023271731691, 37.64271047227926, 37.53593429158111, 36.26557152635181, 36.4517453798768, 39.88774811772758, 53.9958932238193, 38.49144421629021, 35.898699520876114, 39.559206023271734, 53.9958932238193, 38.98151950718686, 39.997262149212865, 40.21629021218344, 36.51745379876797, 44.955509924709105, 36.544832306639286, 53.74401095140315, 53.50034223134839, 53.9958932238193, 53.91649555099247, 53.9958932238193, 39.19507186858316, 53.9958932238193, 36.87063655030801, 36.544832306639286, 53.9958932238193, 53.9958932238193, 39.15674195756331, 53.9958932238193, 35.93429158110883, 37.935660506502394, 53.9958932238193, 39.181382614647504, 37.9958932238193, 53.9958932238193, 47.436002737850785, 37.31416837782341, 37.44284736481862, 37.50581793292265, 53.9958932238193, 53.9958932238193, 53.9958932238193, 53.9958932238193, 53.9958932238193, 36.45448323066393, 53.9958932238193, 35.80835044490075, 53.9958932238193, 36.86242299794661, 53.9958932238193, 53.9958932238193, 53.9958932238193, 35.99452429842574, 35.97535934291581, 53.9958932238193, 51.997262149212865, 53.9958932238193, -46.0041067761807, 35.997262149212865, 35.937029431895965, -46.0041067761807, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 7.98631074606434, 8.112251882272416, 7.066392881587953, 7.263518138261465, 7.080082135523614, 7.115674195756331, 7.605749486652978, 7.307323750855578, 7.770020533880904, 7.531827515400411, 7.526351813826146, 7.671457905544147, 7.898699520876113, 7.594798083504449, 90.87200547570157, 7.917864476386037, 7.600273785078714, 7.529089664613279, 7.545516769336071, 35.83572895277207, 36.95277207392197, 6.707734428473648, 128.9637234770705, 6.48870636550308, 79.9315537303217, 6.86652977412731, 36.45722108145106, 135.3511293634497, 7.34839151266256, 36.65434633812457, 46.620123203285424, 127.35112936344969, 6.543463381245722, 6.622861054072553, 36.87063655030801, 37.9958932238193, 36.563997262149215, 6.146475017111568, 6.132785763175907, 6.548939082819986, 6.483230663928816, 40.342231348391515, 35.931553730321696, -46.00684462696783, 3.4442162902121836, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 53.99315537303217, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 53.99315537303217, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 3.679671457905544, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 53.99315537303217, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 12.432580424366872, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 53.99315537303217, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.0041067761807, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 3.1485284052019167, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 3.572895277207392, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 53.99315537303217, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 53.99315537303217, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 3.0718685831622174, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 3.6605065023956196, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 53.99315537303217, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, 3.9863107460643397, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.00684462696783, -46.0068446269678

In [29]:
train_df.loc[train_df['Dogum Tarihi'] < 15, 'Dogum Tarihi'] = 0
train_df.loc[train_df['Dogum Tarihi'] > 34, 'Dogum Tarihi'] = 0

In [30]:
outlier_values = list_outlier_values(train_df, 'Dogum Tarihi')
print(outlier_values)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [31]:
#Calculate the mean value of the column, ignoring NaNs
mean_value = train_df['Dogum Tarihi'].replace(0, np.nan).mean()

#Replace NaNs and 0s with the mean value
train_df['Dogum Tarihi'] = train_df['Dogum Tarihi'].replace(0, np.nan).fillna(mean_value)

In [32]:
analyze_column(train_df, 'Dogum Tarihi')

Unique values in 'Dogum Tarihi':
[29.5742642  30.14921287 26.25168006 ... 20.14784394 20.72553046
 20.13415469]

Value counts in 'Dogum Tarihi' (including NaNs):
Dogum Tarihi
26.251680    5058
23.997262     290
22.995209     247
24.996578     230
25.995893     228
             ...
31.586585       1
30.587269       1
30.603696       1
31.600274       1
20.134155       1
Name: count, Length: 4827, dtype: int64

Number of missing values (NaNs) in 'Dogum Tarihi':
0

count    65125.000000
mean        26.251680
std          2.890494
min         17.111567
25%         23.975359
50%         26.251680
75%         28.347707
max         33.995893
Name: Dogum Tarihi, dtype: float64

### 2.4-) Dogum Yeri

In [33]:
train_df['Dogum Yeri'] = train_df['Dogum Yeri'].apply(fill_city)

In [34]:
analyze_column(train_df, 'Dogum Yeri')

Unique values in 'Dogum Yeri':
['Ankara' None 'Samsun' 'Diyarbakır' 'İstanbul' 'Erzincan' 'Sivas'
 'Kayseri' 'Uşak' 'Rize' 'Erzurum' 'Konya' 'İzmir' 'Trabzon' 'Kars'
 'Kırşehir' 'Adana' 'Sakarya' 'Muğla' 'Hatay' 'Mersin' 'Malatya' 'Manisa'
 'Çorum' 'Çanakkale' 'Antalya' 'Çankırı' 'Eskişehir' 'Bartın' 'Karaman'
 'Van' 'Bingöl' 'Giresun' 'Ordu' 'Bursa' 'Kütahya' 'Karabük' 'Bilecik'
 'Siirt' 'Adıyaman' 'Kırklareli' 'Aydın' 'Elazığ' 'Zonguldak' 'Kocaeli'
 'Balıkesir' 'Tekirdağ' 'Tokat' 'Şanlıurfa' 'Kastamonu' 'Edirne' 'Hakkari'
 'Ağrı' 'Kahramanmaraş' 'Nevşehir' 'Kırıkkale' 'Isparta' 'Kilis' 'Batman'
 'Osmaniye' 'Gaziantep' 'Denizli' 'Mardin' 'Bolu' 'Niğde' 'Amasya'
 'Aksaray' 'Düzce' 'Yozgat' 'Sinop' 'Yalova' 'Bayburt' 'Muş' 'Bitlis'
 'Tunceli' 'Gümüşhane' 'Burdur' 'Şırnak' 'Iğdır' 'Ardahan' 'Artvin'
 'Afyonkarahisar']

Value counts in 'Dogum Yeri' (including NaNs):
Dogum Yeri
İstanbul     8999
None         8227
Ankara       4275
İzmir        2219
Bursa        1931
             ...
Bilecik       100
Çankırı        97
Gümüşhane      82
Bayburt        79
Tunceli        55
Name: count, Length: 82, dtype: int64

Number of missing values (NaNs) in 'Dogum Yeri':
8227

count        56898
unique          81
top       İstanbul
freq          8999
Name: Dogum Yeri, dtype: object

In [35]:
# Replace 'None' with 'İstanbul'
train_df['Dogum Yeri'] = train_df['Dogum Yeri'].fillna('İstanbul')

In [36]:
analyze_column(train_df, 'Dogum Yeri')

Unique values in 'Dogum Yeri':
['Ankara' 'İstanbul' 'Samsun' 'Diyarbakır' 'Erzincan' 'Sivas' 'Kayseri'
 'Uşak' 'Rize' 'Erzurum' 'Konya' 'İzmir' 'Trabzon' 'Kars' 'Kırşehir'
 'Adana' 'Sakarya' 'Muğla' 'Hatay' 'Mersin' 'Malatya' 'Manisa' 'Çorum'
 'Çanakkale' 'Antalya' 'Çankırı' 'Eskişehir' 'Bartın' 'Karaman' 'Van'
 'Bingöl' 'Giresun' 'Ordu' 'Bursa' 'Kütahya' 'Karabük' 'Bilecik' 'Siirt'
 'Adıyaman' 'Kırklareli' 'Aydın' 'Elazığ' 'Zonguldak' 'Kocaeli'
 'Balıkesir' 'Tekirdağ' 'Tokat' 'Şanlıurfa' 'Kastamonu' 'Edirne' 'Hakkari'
 'Ağrı' 'Kahramanmaraş' 'Nevşehir' 'Kırıkkale' 'Isparta' 'Kilis' 'Batman'
 'Osmaniye' 'Gaziantep' 'Denizli' 'Mardin' 'Bolu' 'Niğde' 'Amasya'
 'Aksaray' 'Düzce' 'Yozgat' 'Sinop' 'Yalova' 'Bayburt' 'Muş' 'Bitlis'
 'Tunceli' 'Gümüşhane' 'Burdur' 'Şırnak' 'Iğdır' 'Ardahan' 'Artvin'
 'Afyonkarahisar']

Value counts in 'Dogum Yeri' (including NaNs):
Dogum Yeri
İstanbul     17226
Ankara        4275
İzmir         2219
Bursa         1931
Adana         1914
             ...
Bilecik        100
Çankırı         97
Gümüşhane       82
Bayburt         79
Tunceli         55
Name: count, Length: 81, dtype: int64

Number of missing values (NaNs) in 'Dogum Yeri':
0

count        65125
unique          81
top       İstanbul
freq         17226
Name: Dogum Yeri, dtype: object

In [37]:
train_df['Dogum Yeri'] = label_encoder.fit_transform(train_df['Dogum Yeri'])

In [38]:
analyze_column(train_df, 'Dogum Yeri')

Unique values in 'Dogum Yeri':
[ 5 77 61 22 26 64 41 69 59 27 44 78 67 39 48  0 60 53 33 52 49 50 76 74
  6 75 28 12 38 70 16 30 57 20 45 37 15 62  1 46  9 25 73 43 11 65 66 79
 40 24 32 10 36 55 47 34 42 13 58 29 21 51 18 56  4  3 23 72 63 71 14 54
 17 68 31 19 80 35  7  8  2]

Value counts in 'Dogum Yeri' (including NaNs):
Dogum Yeri
77    17226
5      4275
78     2219
20     1931
0      1914
      ...
15      100
75       97
31       82
14       79
68       55
Name: count, Length: 81, dtype: int64

Number of missing values (NaNs) in 'Dogum Yeri':
0

count    65125.000000
mean        47.693390
std         27.556491
min          0.000000
25%         22.000000
50%         51.000000
75%         77.000000
max         80.000000
Name: Dogum Yeri, dtype: float64

### 2.5-) Ikametgah Sehri

In [39]:
analyze_column(train_df, 'Ikametgah Sehri')

Unique values in 'Ikametgah Sehri':
['Ankara' 'İstanbul' 'Esenler/İstanbul' 'Kayseri' 'Bahçelievler/Ankara'
 'İSTANBUL' 'İzmir' 'Kahramanmaraş' 'Üsküdar/İstanbul' 'İZMİR' 'Trabzon'
 'Kars' 'Kırşehir' 'Gebze/Kocaeli' 'Buca/İzmir' 'Sarıyer/İstanbul' 'Ordu'
 'Osmaniye' nan 'Maltepe/İstanbul' 'Antalya' 'Florya/İstanbul'
 'Gaziosmanpaşa/İstanbul' 'Istanbul' 'Etimesgut/Ankara' 'Konya' 'ANKARA'
 'Bartın' 'Girne' 'Bingöl' 'Mersin' 'KAYSERİ' 'BURSA' 'Manisa' 'Samsun'
 'GÖLCÜK' 'Diyarbakır' 'istanbul' 'Kırklareli' 'KOCAELİ' 'AYDIN' 'Muğla'
 'Zonguldak' 'Erzurum' 'GAZİMAĞUSA' 'Bursa' 'DENİZLİ' 'Batman' 'Gaziantep'
 'Aydın' 'Kocaeli' 'Gazimağusa' 'Adana' 'Balıkesir' 'Şanlıurfa' 'Sakarya'
 'ANTALYA' 'Izmir' 'ADANA' 'NEVŞEHİR' 'KONYA' 'ISTANBUL' 'Niğde' 'Arhavi'
 'ankara' 'AKSARAY' 'Güzelyurt' 'Kütahya' 'AFYONKARAHİSAR' 'Uşak'
 'SAKARYA' 'Bolu' 'mersin' 'izmir' 'Aksaray' 'Kastamonu' 'K.maraş'
 'Tekirdağ' 'Düzce' '------' 'Sinop' 'Elazığ' 'Kırıkkale' 'Isparta' 'Ağrı'
 'Giresun' 'Hatay' 'Denizli' 'Çanakkale' 'Siirt' 'Sivas' 'Malatya'
 'Şırnak' 'Hakkari' 'Mardin' 'Van' 'stanbul' 'Lefkoşa' 'Lefke' 'Agri'
 'Adiyaman' 'Erzincan' 'Diger' 'Bayburt' 'Sanliurfa' 'Eskisehir'
 'Balikesir' 'Tekirdag' 'Yozgat' 'Çorum' 'Karabük' 'Mugla' 'Aydin' 'Nigde'
 'Bitlis' 'Amasya' 'Tunceli' 'Sirnak' 'Edirne' 'Çankiri' 'Kahramanmaras'
 'Ardahan' 'Usak' 'Tokat' 'Yalova' 'Elazig' 'Karaman' 'Burdur'
 'Diyarbakir' 'Gümüshane' 'Kirklareli' 'Mus' 'Hakkâri' 'Artvin'
 'Kirikkale' 'Igdir' 'Eskişehir' 'Rize' 'Iğdır' 'Muş' 'Adıyaman' 'Bilecik'
 'Afyonkarahisar' 'Diğer' 'Nevşehir' 'Gümüşhane' 'Çankırı' 'Ünye/Ordu'
 'Afyon' 'Kağıthane/İstanbul' 'Polatlı/Ankara' 'Esenyurt/İstanbul'
 'Bahçeşehir/İstanbul' 'Bahçelievler/İstanbul' 'Yahyalı/Kayseri'
 'Zeytinburnu/İstanbul' 'Hamburg' 'ZONGULDAK' 'Kilis' 'Feriköy/İstanbul'
 'Çankaya/Ankara' 'Nevsehir' 'MANİSA' 'DİYARBAKIR' 'kocaeli' 'MERSİN'
 'Alaplı/Zonguldak' 'YOZGAT' 'Kırgızistan-Bişkek' 'SAMSUN'
 'İstanbul\nNiğde' 'Batman/Merkez' 'İSKENDERUN' 'Ataşehir/İstanbul'
 'Gemlik/Bursa' 'UŞAK' 'Aliağa/İzmir' 'Palandöken/Erzurum' 'Çiğli/İzmir'
 'Güngören/İstanbul' 'Silivri/İstanbul' 'Konak/İzmir' 'Gönen/Balıkesir'
 'Beşiktaş/İstanbul' 'Bağlar/Diyarbakır' 'Fatih/İstanbul' 'KAHRAMANMARAŞ'
 'Kartal/İstanbul' 'Seyhan/Adana' 'Adapazarı/Sakarya' 'Germencik/Aydın'
 'TRABZON' 'BURDUR' 'İzmit' 'Kocamustafapaşa/Fatih/İstanbul' 'Nürnberg'
 'Yunusemre/Manisa' 'konya' 'Bigadiç/Balıkesir' 'Keçiören/Ankara'
 'Bornova/İzmir' 'ERZURUM' 'Balçova/İzmir' 'Kadıköy/İstanbul' 'ESKİŞEHİR'
 'Eryaman/Ankara' 'Şile/İstanbul' 'KKTC' 'KIRIKKALE' 'Hacettepe/Ankara'
 'Avcılar/İstanbul' 'VAN' 'Beylikdüzü/İstanbul' 'Antakya' 'ODTÜ/Ankara'
 'Dilovası/Kocaeli' 'Çaycuma/Zonguldak' 'Kaman/Kırşehir' 'Bilkent/Ankara'
 'Derince/Kocaeli' 'Bartin' 'Darıca/Kocaeli' 'Sincan/Ankara'
 'Yenibosna/İstanbul' 'Çirişhanee' 'Mamak/Ankara' 'Kepez/Antalya'
 'Bağcılar/İstanbul' 'Akhisar/Manisa' 'Fethiye/Muğla'
 'Odunpazarı/Eskişehir' 'Bakırköy/İstanbul' 'Ortaca/Muğla'
 'Gündoğmuş/Antalya' 'Söke/Aydın' 'ODTÜ/Çankaya/Ankara' 'Nilüfer/Bursa'
 'Merkez/Kastamonu' 'Mersin-Adana' 'Melikgazi/Kayseri' 'Orhangazi/Bursa'
 'AMASYA' 'Gotham' 'GothamCity' 'İZMİT' 'Bodrum' 'Göle' 'GAZİANTEP'
 'Gebze' 'iskenderun' 'TEKİRDAĞ' 'ISPARTA' 'BALIKESİR' 'TOKAT' 'Manavgat'
 'ELAZIĞ' 'izmit' 'KAHTA' 'Kuşadası' 'erzurum' 'KIRKLARELİ' 'ORDU'
 'KOCAELI' 'ÇORUM' 'DÜZCE' 'SİVAS' 'Adapazarı' 'ADAPAZARI' 'i̇zmir'
 'Yenişehir' 'İsparta' 'TUNCELİ' 'KAYSERI' 'MUĞLA' 'MALATYA' 'Bozüyük'
 'KARAMAN' 'Selçuk,İzmir' 'IĞDIR' 'GİRESUN' 'ŞANLIURFA' 'kayseri'
 'ADIYAMAN' 'MARDİN' 'YALOVA' 'Oslo' 'ÇANAKKALE' 'İskenderun' 'ERZİNCAN'
 'Alanya' 'GÜMÜŞHANE' 'Adapazari' 'Fatih' 'uşak' 'OSMANİYE'
 'OpenAIrequestfailedtimeout' 'DENIZLI' 'KARABÜK' 'Çerkezköy' 'bilecik'
 'KIRŞEHİR' 'trabzon' 'BAKÜ' 'Bağcılar' 'Fethiye' 'BUCAK' 'kütahya'
 'İstanbul,Kocaeli' 'Bandırma' 'BOLU' 'ARTVİN' 'yalova' 'IZMIR' 'bursa'
 'şanlıurfa' 'Üsküdar' 'Akçaabat' 'gaziantep' 'ANTAKYA' 'Kirsehir']

Value counts in 'Ikametgah Sehri' (including NaNs):
Ikametgah Sehri
İstanbul               16625
Ankara                  6485
Istanbul                3469
İzmir                   3096
NaN                     2037
                       ...
Beylikdüzü/İstanbul        1
ODTÜ/Ankara                1
Dilovası/Kocaeli           1
Çaycuma/Zonguldak          1
Çankaya/Ankara             1
Name: count, Length: 320, dtype: int64

Number of missing values (NaNs) in 'Ikametgah Sehri':
2037

count        63088
unique         319
top       İstanbul
freq         16625
Name: Ikametgah Sehri, dtype: object

In [40]:
train_df['Ikametgah Sehri'] = train_df['Ikametgah Sehri'].apply(fill_city)
train_df['Ikametgah Sehri'] = train_df['Ikametgah Sehri'].fillna('İstanbul')
train_df['Ikametgah Sehri'] = label_encoder.fit_transform(train_df['Ikametgah Sehri'])
analyze_column(train_df, 'Ikametgah Sehri')

Unique values in 'Ikametgah Sehri':
[ 5 77 41 78 36 67 39 48 43 57 58  6 44 12 16 52 20 50 61 22 46 53 73 27
 13 29  9  0 11 79 60 56  3 45 69 18 40 65 23 63 25 47 34 10 30 33 21 74
 62 64 49 80 32 51 70 26 14 72 76 37 17  4 68 24  7 66 71 38 19  8 28 59
 35 54  1 15  2 55 31 75 42]

Value counts in 'Ikametgah Sehri' (including NaNs):
Ikametgah Sehri
77    24802
5      6602
78     3104
20     1794
43     1472
      ...
68       65
42       59
8        55
75       49
7        33
Name: count, Length: 81, dtype: int64

Number of missing values (NaNs) in 'Ikametgah Sehri':
0

count    65125.000000
mean        50.942326
std         28.693058
min          0.000000
25%         23.000000
50%         62.000000
75%         77.000000
max         80.000000
Name: Ikametgah Sehri, dtype: float64

### 2.6-) Universite Adi

In [41]:
analyze_column(train_df, 'Universite Adi')
train_df['Universite Adi'] = train_df['Universite Adi'].fillna('i̇stanbul üni̇versi̇tesi̇')
train_df['Universite Adi'] = label_encoder.fit_transform(train_df['Universite Adi'])
analyze_column(train_df, 'Universite Adi')

Unique values in 'Universite Adi':
['İHSAN DOĞRAMACI BİLKENT' 'ULUSLARARASI KIBRIS ÜNİVERSİTESİ'
 'İSTANBUL ŞEHİR ÜNİVERSİTESİ' 'TURGUT ÖZAL ÜNİVERSİTESİ'
 'İSTANBUL TİCARET ÜNİVERSİTESİ' 'İSTANBUL MEDİPOL ÜNİVERSİTESİ'
 'FATİH SULTAN MEHMET VAKIF' 'BAHÇEŞEHİR ÜNİVERSİTESİ'
 'NUH NACİ YAZGAN ÜNİVERSİTESİ' 'FATİH ÜNİVERSİTESİ'
 'BAŞKENT ÜNİVERSİTESİ' 'ÇAĞ ÜNİVERSİTESİ' 'İZMİR ÜNİVERSİTESİ'
 'ZİRVE ÜNİVERSİTESİ' 'YAŞAR ÜNİVERSİTESİ' 'İSTANBUL AREL ÜNİVERSİTESİ'
 'TED ÜNİVERSİTESİ' 'YENİ YÜZYIL ÜNİVERSİTESİ'
 'İZMİR EKONOMİ ÜNİVERSİTESİ' 'İSTANBUL BİLGİ ÜNİVERSİTESİ'
 'İSTANBUL GELİŞİM ÜNİVERSİTESİ' 'BEYKENT ÜNİVERSİTESİ'
 'AVRASYA ÜNİVERSİTESİ' 'OKAN ÜNİVERSİTESİ' 'KOÇ ÜNİVERSİTESİ'
 'HALİÇ ÜNİVERSİTESİ' 'IŞIK ÜNİVERSİTESİ' 'ATILIM ÜNİVERSİTESİ'
 'NİŞANTAŞI ÜNİVERSİTESİ' 'İSTANBUL AYDIN ÜNİVERSİTESİ'
 'UFUK ÜNİVERSİTESİ' 'SABANCI ÜNİVERSİTESİ'
 'İSTANBUL 29 MAYIS ÜNİVERSİTESİ' 'MALTEPE ÜNİVERSİTESİ'
 'ULUSLARARASI ANTALYA ÜNİVERSİTESİ' 'TOBB EKONOMİ VE TEKNOLOJİ'
 'KTO KARATAY ÜNİVERSİTESİ' 'ÇANKAYA ÜNİVERSİTESİ'
 'İSTANBUL KÜLTÜR ÜNİVERSİTESİ' 'YEDİTEPE ÜNİVERSİTESİ'
 'GİRNE AMERİKAN ÜNİVERSİTESİ' 'HASAN KALYONCU ÜNİVERSİTESİ'
 'ÜSKÜDAR ÜNİVERSİTESİ' 'MELİKŞAH ÜNİVERSİTESİ'
 'CANİK BAŞARI ÜNİVERSİTESİ' 'KADİR HAS ÜNİVERSİTESİ'
 'İSTANBUL ESENYURT ÜNİVERSİTESİ' 'İSTANBUL KAVRAM MESLEK'
 'İSTANBUL KEMERBURGAZ ÜNİVERSİTESİ' 'YAKIN DOĞU ÜNİVERSİTESİ'
 'GEDİZ ÜNİVERSİTESİ' 'GEDİK ÜNİVERSİTESİ' 'İSTANBUL BİLİM ÜNİVERSİTESİ'
 'ŞİFA ÜNİVERSİTESİ' 'ÖZYEĞİN ÜNİVERSİTESİ' 'TOROS ÜNİVERSİTESİ'
 'PİRİ REİS ÜNİVERSİTESİ' 'DOĞU AKDENİZ ÜNİVERSİTESİ'
 'ULUDAĞ ÜNİVERSİTESİ' 'BURSA ORHANGAZİ ÜNİVERSİTESİ'
 'GİRESUN ÜNİVERSİTESİ' 'DOĞUŞ ÜNİVERSİTESİ' 'BEYKOZ LOJİSTİK MESLEK'
 'TÜRK HAVA KURUMU ÜNİVERSİTESİ' 'HACETTEPE ÜNİVERSİTESİ'
 'İSTANBUL SABAHATTİN ZAİM' 'BOĞAZİÇİ ÜNİVERSİTESİ' 'MEVLANA ÜNİVERSİTESİ'
 'OSMANİYE KORKUT ATA ÜNİVERSİTESİ' 'LEFKE AVRUPA ÜNİVERSİTESİ'
 'ORTA DOĞU TEKNİK ÜNİVERSİTESİ' 'AMASYA ÜNİVERSİTESİ'
 'KOCAELİ ÜNİVERSİTESİ' 'FIRAT ÜNİVERSİTESİ' 'ACIBADEM ÜNİVERSİTESİ'
 'SÜLEYMAN ŞAH ÜNİVERSİTESİ' 'MEF ÜNİVERSİTESİ' 'PLATO MESLEK YÜKSEKOKULU'
 'ANADOLU ÜNİVERSİTESİ' 'İPEK ÜNİVERSİTESİ'
 'ABANT İZZET BAYSAL ÜNİVERSİTESİ' 'İSTANBUL ÜNİVERSİTESİ'
 'ALANYA HAMDULLAH EMİN PAŞA' 'BEZM-İ ALEM VAKIF ÜNİVERSİTESİ'
 'RECEP TAYYİP ERDOĞAN ÜNİVERSİTESİ' 'ÇUKUROVA ÜNİVERSİTESİ'
 'BALIKESİR ÜNİVERSİTESİ' 'Toros Üniversitesi' 'Özyeğin Üniversitesi'
 'Yeditepe Üniversitesi' 'Koç Üniversitesi' 'İstanbul Aydın Üniversitesi'
 'İstanbul Kültür Üniversitesi' 'Işık Üniversitesi'
 'Nuh Naci Yazgan Üniversitesi' 'Gediz Üniversitesi' 'Atılım Üniversitesi'
 'Sabancı Üniversitesi' 'Fatih Üniversitesi' 'İzmir Üniversitesi'
 'Okan Üniversitesi' 'Çankaya Üniversitesi'
 'İstanbul Ticaret Üniversitesi' 'Bahçeşehir Üniversitesi'
 'İzmir Ekonomi Üniversitesi' 'İhsan Doğramacı Bilkent Üniversitesi'
 'Uluslararası Antalya Üniversitesi' 'İstanbul Bilgi Üniversitesi'
 'Acıbadem Üniversitesi' 'Kadir Has Üniversitesi'
 'Süleyman Şah Üniversitesi' 'İstanbul Teknik Üniversitesi'
 'TED Üniversitesi' 'Yaşar Üniversitesi' 'İstanbul Gelişim Üniversitesi'
 'İstanbul Sabahattin Zaim Üniversitesi' 'İstanbul Arel Üniversitesi'
 'İstanbul Medipol Üniversitesi' 'Canik Başarı Üniversitesi'
 'İpek Üniversitesi' 'MEF Üniversitesi' 'Piri Reis Üniversitesi'
 'Melikşah Üniversitesi' 'İstanbul Kavram Meslek Yüksekokulu'
 'Plato Meslek Yüksekokulu' 'İstanbul 29 Mayıs Üniversitesi'
 'Bursa Orhangazi Üniversitesi' 'Nişantaşı Üniversitesi'
 'TOBB Ekonomi ve Teknoloji Üniversitesi' 'İstanbul Şehir Üniversitesi'
 'Yeni Yüzyıl Üniversitesi' 'Türk Hava Kurumu Üniversitesi'
 'Başkent Üniversitesi' 'Girne Amerikan Üniversitesi'
 'Beykent Üniversitesi' 'Mersin Üniversitesi'
 'İstanbul Esenyurt Üniversitesi' 'Uluslararası Kıbrıs Üniversitesi'
 'Şifa Üniversitesi' 'Zirve Üniversitesi' 'Üsküdar Üniversitesi'
 'Hasan Kalyoncu Üniversitesi' 'Avrasya Üniversitesi' 'Doğuş Üniversitesi'
 'İstanbul Kemerburgaz Üniversitesi' 'Maltepe Üniversitesi'
 'Gedik Üniversitesi' 'Biruni Üniversitesi' 'Mevlana Üniversitesi'
 'İstanbul Bilim Üniversitesi' 'Lefke Avrupa Üniversitesi'
 'Haliç Üniversitesi' 'KAFKAS ÜNİVERSİTESİ'
 'AĞRI İBRAHİM ÇEÇEN ÜNİVERSİTESİ' 'YILDIRIM BEYAZIT ÜNİVERSİTESİ'
 'ANKARA ÜNİVERSİTESİ' 'GAZİ ÜNİVERSİTESİ' 'MARMARA ÜNİVERSİTESİ'
 'ÇANAKKALE ONSEKİZ MART' 'DİCLE ÜNİVERSİTESİ' 'SAKARYA ÜNİVERSİTESİ'
 'SÜLEYMAN DEMİREL ÜNİVERSİTESİ' 'İSTANBUL TEKNİK ÜNİVERSİTESİ'
 'DUMLUPINAR ÜNİVERSİTESİ' 'KIRKLARELİ ÜNİVERSİTESİ'
 'BAYBURT ÜNİVERSİTESİ' 'ONDOKUZ MAYIS ÜNİVERSİTESİ'
 'BÜLENT ECEVİT ÜNİVERSİTESİ' 'GAZİOSMANPAŞA ÜNİVERSİTESİ'
 'KARADENİZ TEKNİK ÜNİVERSİTESİ' 'Diğer' 'NAMIK KEMAL ÜNİVERSİTESİ'
 'ÇANKIRI KARATEKİN ÜNİVERSİTESİ' 'KARABÜK ÜNİVERSİTESİ'
 'MEHMET AKİF ERSOY ÜNİVERSİTESİ' 'ERZİNCAN ÜNİVERSİTESİ'
 'SİİRT ÜNİVERSİTESİ' 'TÜRK-ALMAN ÜNİVERSİTESİ' 'TRAKYA ÜNİVERSİTESİ'
 'NECMETTİN ERBAKAN ÜNİVERSİTESİ' 'SİNOP ÜNİVERSİTESİ'
 'KASTAMONU ÜNİVERSİTESİ' 'YILDIZ TEKNİK ÜNİVERSİTESİ'
 'ATATÜRK ÜNİVERSİTESİ' 'ADNAN MENDERES ÜNİVERSİTESİ'
 'İZMİR KATİP ÇELEBİ ÜNİVERSİTESİ' 'CELAL BAYAR ÜNİVERSİTESİ'
 'MERSİN ÜNİVERSİTESİ' 'UŞAK ÜNİVERSİTESİ'
 'MUĞLA SITKI KOÇMAN ÜNİVERSİTESİ' 'ERCİYES ÜNİVERSİTESİ'
 'AKDENİZ ÜNİVERSİTESİ' 'GAZİANTEP ÜNİVERSİTESİ'
 'MUSTAFA KEMAL ÜNİVERSİTESİ' 'YÜZÜNCÜ YIL ÜNİVERSİTESİ'
 'ESKİŞEHİR OSMANGAZİ ÜNİVERSİTESİ' 'BİNGÖL ÜNİVERSİTESİ'
 'AKSARAY ÜNİVERSİTESİ' 'EGE ÜNİVERSİTESİ'
 'KONYA TARIM VE GIDA ÜNİVERSİTESİ' 'GÜMÜŞHANE ÜNİVERSİTESİ'
 'PAMUKKALE ÜNİVERSİTESİ' 'ABDULLAH GÜL ÜNİVERSİTESİ'
 'SELÇUK ÜNİVERSİTESİ' 'GALATASARAY ÜNİVERSİTESİ'
 'BİLECİK ŞEYH EDEBALİ ÜNİVERSİTESİ' 'MARDİN ARTUKLU ÜNİVERSİTESİ'
 'CUMHURİYET ÜNİVERSİTESİ' 'İSTANBUL MEDENİYET ÜNİVERSİTESİ'
 'ADIYAMAN ÜNİVERSİTESİ' 'KAHRAMANMARAŞ SÜTÇÜ İMAM'
 'DOKUZ EYLÜL ÜNİVERSİTESİ' 'YALOVA ÜNİVERSİTESİ' 'HARRAN ÜNİVERSİTESİ'
 'IĞDIR ÜNİVERSİTESİ' 'MUŞ ALPARSLAN ÜNİVERSİTESİ'
 'BURSA TEKNİK ÜNİVERSİTESİ' 'GEBZE YÜKSEK TEKNOLOJİ ENSTİTÜSÜ'
 'KARAMANOĞLU MEHMETBEY' nan 'TUNCELİ ÜNİVERSİTESİ' 'ŞIRNAK ÜNİVERSİTESİ'
 'NEVŞEHİR HACI BEKTAŞ VELİ' 'BOZOK ÜNİVERSİTESİ'
 'KAPADOKYA MESLEK YÜKSEKOKULU' 'ADANA BİLİM VE TEKNOLOJİ'
 'HİTİT ÜNİVERSİTESİ' 'NİĞDE ÜNİVERSİTESİ' 'MİMAR SİNAN GÜZEL SANATLAR'
 'İNÖNÜ ÜNİVERSİTESİ' 'BİTLİS EREN ÜNİVERSİTESİ'
 'ARTVİN ÇORUH ÜNİVERSİTESİ' 'AFYON KOCATEPE ÜNİVERSİTESİ'
 'DÜZCE ÜNİVERSİTESİ' 'BARTIN ÜNİVERSİTESİ' 'KIRIKKALE ÜNİVERSİTESİ'
 'BİRUNİ ÜNİVERSİTESİ' 'ERZİNCAN BİNALİ YILDIRIM ÜNİVERSİTESİ'
 'İHSAN DOĞRAMACI BİLKENT ÜNİVERSİTESİ'
 'TOBB EKONOMİ VE TEKNOLOJİ ÜNİVERSİTESİ'
 'HATAY MUSTAFA KEMAL ÜNİVERSİTESİ'
 'FATİH SULTAN MEHMET VAKIF ÜNİVERSİTESİ' 'AYDIN ADNAN MENDERES'
 'İSTANBUL GEDİK ÜNİVERSİTESİ' 'VAN YÜZÜNCÜ YIL ÜNİVERSİTESİ'
 'İSTANBUL OKAN ÜNİVERSİTESİ' 'MİMAR SİNAN GÜZEL SANATLAR ÜNİVERSİTESİ'
 'ACIBADEM MEHMET ALİ AYDINLAR ÜNİVERSİTESİ'
 'TEKİRDAĞ NAMIK KEMAL ÜNİVERSİTESİ' 'ALTINBAŞ ÜNİVERSİTESİ'
 'İZMİR YÜKSEK TEKNOLOJİ ENSTİTÜSÜ' 'BEZM-İ ÂLEM VAKIF ÜNİVERSİTESİ'
 'FENERBAHÇE ÜNİVERSİTESİ' 'SAĞLIK BİLİMLERİ ÜNİVERSİTESİ'
 'İSTANBUL AYVANSARAY ÜNİVERSİTESİ' 'İSTİNYE ÜNİVERSİTESİ'
 'İSTANBUL ÜNİVERSİTESİ-' 'İZMİR KAVRAM MESLEK ÜNİVERSİTESİ'
 'DEMİROĞLU BİLİM ÜNİVERSİTESİ' 'İSTANBUL RUMELİ ÜNİVERSİTESİ'
 'BEYKOZ ÜNİVERSİTESİ' 'İBN HALDUN ÜNİVERSİTESİ'
 'İSTANBUL SABAHATTİN ZAİM ÜNİVERSİTESİ' 'KAPADOKYA ÜNİVERSİTESİ'
 'İZMİR DEMOKRASİ ÜNİVERSİTESİ' 'NİĞDE ÖMER HALİSDEMİR'
 'İSTANBUL KENT ÜNİVERSİTESİ' 'BURSA ULUDAĞ ÜNİVERSİTESİ'
 'KARAMANOĞLU MEHMETBEY ÜNİVERSİTESİ' 'KONYA GIDA VE TARIM ÜNİVERSİTESİ'
 'ZONGULDAK BÜLENT ECEVİT ÜNİVERSİTESİ' 'ESKİŞEHİR TEKNİK ÜNİVERSİTESİ'
 'KOCAELİ SAĞLIK VE TEKNOLOJİ ÜNİVERSİTESİ'
 'KIRŞEHİR AHİ EVRAN ÜNİVERSİTESİ' 'ANKARA MEDİPOL ÜNİVERSİTESİ'
 'ANKARA YILDIRIM BEYAZIT ÜNİVERSİTESİ' 'OSTİM TEKNİK ÜNİVERSİTESİ'
 'MUNZUR ÜNİVERSİTESİ' 'TOKAT GAZİOSMANPAŞA ÜNİVERSİTESİ'
 'SİVAS CUMHURİYET ÜNİVERSİTESİ' 'KİLİS 7 ARALIK ÜNİVERSİTESİ'
 'ÇANAKKALE ONSEKİZ MART ÜNİVERSİTESİ'
 'ANKARA HACI BAYRAM VELİ ÜNİVERSİTESİ'
 'İSTANBUL YENİ YÜZYIL ÜNİVERSİTESİ' 'BATMAN ÜNİVERSİTESİ'
 'TRABZON ÜNİVERSİTESİ' 'ANKARA SOSYAL BİLİMLER ÜNİVERSİTESİ'
 'ISPARTA UYGULAMALI BİLİMLER ÜNİVERSİTESİ'
 'KAHRAMANMARAŞ SÜTÇÜ İMAM ÜNİVERSİTESİ' 'MANİSA CELÂL BAYAR ÜNİVERSİTESİ'
 'İSTANBUL SAĞLIK VE TEKNOLOJİ ÜNİVERSİTESİ'
 'İSTANBUL ŞİŞLİ MESLEK ÜNİVERSİTESİ' 'ANTALYA AKEV ÜNİVERSİTESİ'
 'KÜTAHYA SAĞLIK BİLİMLERİ ÜNİVERSİTESİ'
 'ALANYA ALAADDİN KEYKUBAT ÜNİVERSİTESİ'
 'AFYONKARAHİSAR SAĞLIK BİLİMLERİ ÜNİVERSİTESİ'
 'BANDIRMA ONYEDİ EYLÜL ÜNİVERSİTESİ' 'İSKENDERUN TEKNİK ÜNİVERSİTESİ'
 'FARUK SARAÇ TASARIM MESLEK YÜKSEKOKULU (İSTANBUL)'
 'ARDAHAN ÜNİVERSİTESİ' 'İSTANBUL GALATA ÜNİVERSİTESİ'
 'GEBZE TEKNİK ÜNİVERSİTESİ' 'NEVŞEHİR HACI BEKTAŞ VELİ ÜNİVERSİTESİ'
 'SANKO ÜNİVERSİTESİ' 'İSTANBUL ATLAS ÜNİVERSİTESİ' 'HAKKARİ ÜNİVERSİTESİ'
 'ALANYA HAMDULLAH EMİN PAŞA ÜNİVERSİTESİ' 'YOZGAT BOZOK ÜNİVERSİTESİ'
 'KÜTAHYA DUMLUPINAR ÜNİVERSİTESİ' 'LOKMAN HEKİM ÜNİVERSİTESİ'
 'ANTALYA BİLİM ÜNİVERSİTESİ' 'ANKARA BİLİM ÜNİVERSİTESİ'
 'İZMİR BAKIRÇAY ÜNİVERSİTESİ' 'KONYA TEKNİK ÜNİVERSİTESİ'
 'ADANA ALPARSLAN TÜRKEŞ BİLİM VE' 'Çağ Üniversitesi'
 'Yüzüncü Yıl Üniversitesi' 'Fatih Sultan Mehmet Vakıf Üniversitesi'
 'YÜKSEK İHTİSAS ÜNİVERSİTESİ' 'İSTANBUL ŞİŞLİ MESLEK YÜKSEKOKULU'
 'FARUK SARAÇ TASARIM MESLEK' 'Doğu Akdeniz Üniversitesi'
 'Bozok Üniversitesi' 'Bezmiâlem Üniversitesi' 'Ufuk Üniversitesi'
 'Turgut Özal Üniversitesi' 'SAMSUN ÜNİVERSİTESİ'
 'İZMİR TINAZTEPE ÜNİVERSİTESİ' 'SELAHADDİN EYYUBİ ÜNİVERSİTESİ'
 'KTO Karatay Üniversitesi' 'AVRUPA MESLEK YÜKSEKOKULU'
 'ERZURUM TEKNİK ÜNİVERSİTESİ' 'BOLU ABANT İZZET BAYSAL ÜNİVERSİTESİ'
 'SAKARYA UYGULAMALI BİLİMLER ÜNİVERSİTESİ' 'AKDENİZ KARPAZ ÜNİVERSİTESİ'
 'KIRGIZİSTAN-TÜRKİYE MANAS' 'AHİ EVRAN ÜNİVERSİTESİ' 'ORDU ÜNİVERSİTESİ'
 'HOCA AHMET YESEVİ TÜRK-KAZAK' 'ANKARA SOSYAL BİLİMLER' 'POLİS AKADEMİSİ'
 'Bülent Ecevit Üniversitesi' 'Akdeniz Üniversitesi' 'Ankara Üniversitesi'
 'Eskişehir Osmangazi Üniversitesi' 'İnönü Üniversitesi'
 'Yıldız Teknik Üniversitesi' 'Bartın Üniversitesi' 'Karabük Üniversitesi'
 'Namık Kemal Üniversitesi' 'Ege Üniversitesi' 'İstanbul Üniversitesi'
 'Erciyes Üniversitesi' 'Kocaeli Üniversitesi' 'Anadolu Üniversitesi'
 'Marmara Üniversitesi' 'Uludağ Üniversitesi' 'Fırat Üniversitesi'
 'Orta Doğu Teknik Üniversitesi' 'Gazi Üniversitesi'
 'Yıldırım Beyazıt Üniversitesi' 'Celal Bayar Üniversitesi'
 'Atatürk Üniversitesi' 'Pamukkale Üniversitesi'
 'Osmaniye Korkut Ata Üniversitesi' 'Bingöl Üniversitesi'
 'İskenderun Teknik Üniversitesi' 'Trakya Üniversitesi'
 'Hacettepe Üniversitesi' 'Selçuk Üniversitesi'
 'Gebze Teknik Üniversitesi' 'Dumlupınar Üniversitesi'
 'Adnan Menderes Üniversitesi' 'Boğaziçi Üniversitesi'
 'Gaziantep Üniversitesi' 'Giresun Üniversitesi' 'Sakarya Üniversitesi'
 'Dokuz Eylül Üniversitesi' 'Erzincan Üniversitesi'
 'Galatasaray Üniversitesi' 'Süleyman Demirel Üniversitesi'
 'Harran Üniversitesi' 'Mehmet Akif Ersoy Üniversitesi'
 'Ondokuz Mayıs Üniversitesi' 'Mimar Sinan Güzel Sanatlar Üniversitesi'
 'Kırıkkale Üniversitesi' 'Kilis 7 Aralık Üniversitesi'
 'Düzce Üniversitesi' 'Karadeniz Teknik Üniversitesi'
 'Yalova Üniversitesi' 'İzmir Katip Çelebi Üniversitesi'
 'Mustafa Kemal Üniversitesi' 'Alanya Alaaddin Keykubat Üniversitesi'
 'Afyon Kocatepe Üniversitesi' 'Ağrı İbrahim Çeçen Üniversitesi'
 'Aksaray Üniversitesi' 'Recep Tayyip Erdoğan Üniversitesi'
 'Tunceli Üniversitesi' 'Dicle Üniversitesi'
 'Abant İzzet Baysal Üniversitesi' 'Kırklareli Üniversitesi'
 'Bandırma Onyedi Eylül Üniversitesi'
 'Kahramanmaraş Sütçü İmam Üniversitesi' 'Niğde Üniversitesi'
 'Çukurova Üniversitesi' 'Balıkesir Üniversitesi' 'Amasya Üniversitesi'
 'Çanakkale Onsekiz Mart Üniversitesi' 'Abdullah Gül Üniversitesi'
 'Cumhuriyet Üniversitesi' 'Muğla Sıtkı Koçman Üniversitesi'
 'İzmir Yüksek Teknoloji Enstitüsü' 'Necmettin Erbakan Üniversitesi'
 'Bursa Teknik Üniversitesi' 'Karamanoğlu Mehmetbey Üniversitesi'
 'Sinop Üniversitesi' 'Adıyaman Üniversitesi'
 'İstanbul Medeniyet Üniversitesi' 'Ahi Evran Üniversitesi'
 'Kastamonu Üniversitesi' 'Bitlis Eren Üniversitesi' 'Ordu Üniversitesi'
 'Bilecik Şeyh Edebali Üniversitesi'
 'Adana Bilim ve Teknoloji Üniversitesi' 'Siirt Üniversitesi'
 'Gümüşhane Üniversitesi' 'Nevşehir Hacı Bektaş Veli Üniversitesi'
 'Hitit Üniversitesi' 'Uşak Üniversitesi' 'Batman Üniversitesi'
 'Gaziosmanpaşa Üniversitesi' 'Erzurum Teknik Üniversitesi'
 'Bayburt Üniversitesi' 'Selahaddin Eyyubi Üniversitesi'
 'Çankırı Karatekin Üniversitesi' 'Türk-Alman Üniversitesi'
 'Mardin Artuklu Üniversitesi' 'Muş Alparslan Üniversitesi'
 'Hakkari Üniversitesi' 'Ardahan Üniversitesi'
 'HARP AKADEMİLERİ (KARA, DENİZ,' 'BURDUR MEHMET AKİF ERSOY ÜNİVERSİTESİ'
 'KAYSERİ ÜNİVERSİTESİ' 'TARSUS ÜNİVERSİTESİ'
 'KAHRAMANMARAŞ İSTİKLAL ÜNİVERSİTESİ'
 'ANKARA MÜZİK VE GÜZEL SANATLAR ÜNİVERSİTESİ'
 'MALATYA TURGUT ÖZAL ÜNİVERSİTESİ'
 'GAZİANTEP İSLAM BİLİM VE TEKNOLOJİ ÜNİVERSİTESİ'
 'Aydın Adnan Menderes Üniversitesi' 'Bursa Uludağ Üniversitesi'
 'Erzincan Binali Yıldırım Üniversitesi' 'Fenerbahçe Üniversitesi'
 'Eskişehir Teknik Üniversitesi' 'Ankara Yıldırım Beyazıt Üniversitesi'
 'Kırşehir Ahi Evran Üniversitesi' 'Sağlık Bilimleri Üniversitesi'
 'Afyonkarahisar Sağlık Bilimleri Üniversitesi'
 'Konya Gıda ve Tarım Üniversitesi' 'Tokat Gaziosmanpaşa Üniversitesi'
 'Manisa Celal Bayar Üniversitesi' 'İbn Haldun Üniversitesi'
 'Adana Alparslan Türkeş Bilim ve Teknoloji Üniversitesi'
 'İstanbul Üniversitesi-Cerrahpaşa' 'Ankara Medipol Üniversitesi'
 'Bolu Abant İzzet Baysal Üniversitesi' 'Sivas Cumhuriyet Üniversitesi'
 'Van Yüzüncü Yıl Üniversitesi' 'Yozgat Bozok Üniversitesi'
 'Tekirdağ Namık Kemal Üniversitesi' 'Trabzon Üniversitesi'
 'İzmir Bakırçay Üniversitesi' 'İstanbul Kent Üniversitesi'
 'Niğde Ömer Halisdemir Üniversitesi' 'Bezmialem Vakıf Üniversitesi'
 'Munzur Üniversitesi' 'Zonguldak Bülent Ecevit Üniversitesi'
 'Samsun Üniversitesi' 'Şırnak Üniversitesi' 'İstinye Üniversitesi'
 'Brown University' 'University of Southern California'
 'Kütahya Sağlık Bilimleri Üniversitesi' 'Kafkas Üniversitesi'
 'İzmir Kâtip Çelebi Üniversitesi' 'Burdur Mehmet Akif Ersoy Üniversitesi'
 'Ankara Sosyal Bilimler Üniversitesi'
 'Ankara Hacı Bayram Veli Üniversitesi' 'İzmir Demokrasi Üniversitesi'
 'Altınbaş Üniversitesi' 'Gaziantep İslam Bilim ve Teknoloji Üniversitesi'
 'Kahramanmaraş İstiklal Üniversitesi' 'Kütahya Dumlupınar Üniversitesi'
 'İstanbul Gedik Üniversitesi' 'İzmir Kavram Meslek Yüksekokulu'
 'Bard College' 'Sakarya Uygulamalı Bilimler Üniversitesi'
 'Uluslararası Final Üniversitesi' 'İstanbul Galata Üniversitesi'
 'Sanko Üniversitesi' 'Beykoz Üniversitesi' 'Konya Teknik Üniversitesi'
 'Isparta Uygulamalı Bilimler Üniversitesi'
 'Hatay Mustafa Kemal Üniversitesi' 'İstanbul Okan Üniversitesi'
 'Antalya Bilim Üniversitesi' 'Artvin Çoruh Üniversitesi'
 'Fatih Sultan Mehmet Üniversitesi' 'Tarsus Üniversitesi'
 'İstanbul Sağlık ve Teknoloji Üniversitesi' 'Antalya Akev Üniversitesi'
 'Yüksek İhtisas Üniversitesi' 'İstanbul Topkapı Üniversitesi'
 'Ostim Teknik Üniversitesi' 'Yakın Doğu Üniversitesi'
 'Lokman Hekim Üniversitesi' 'Malatya Turgut Özal Üniversitesi'
 'İstanbul Rumeli Üniversitesi' 'İzmir Tınaztepe Üniversitesi'
 'Kayseri Üniversitesi' 'Iğdır Üniversitesi'
 'Ankara Sosyal Bilimler Üniversitesi Kuzey Kıbrıs Kampüsü'
 'Kocaeli Sağlık ve Teknoloji Üniversitesi' 'Ankara Bilim Üniversitesi'
 'Jandarma ve Sahil Güvenlik Akademisi(Askeri)' 'Kapadokya Üniversitesi'
 'Milli Savunma Üniversitesi (Askerî)' 'Demiroğlu Bilim Üniversitesi'
 'İstanbul Atlas Üniversitesi']

Value counts in 'Universite Adi' (including NaNs):
Universite Adi
İSTANBUL ÜNİVERSİTESİ                      2083
MARMARA ÜNİVERSİTESİ                       1672
İSTANBUL TEKNİK ÜNİVERSİTESİ               1464
YILDIZ TEKNİK ÜNİVERSİTESİ                 1438
ORTA DOĞU TEKNİK ÜNİVERSİTESİ              1258
                                           ...
Brown University                              1
ALANYA HAMDULLAH EMİN PAŞA ÜNİVERSİTESİ       1
İstanbul Bilim Üniversitesi                   1
AVRUPA MESLEK YÜKSEKOKULU                     1
İstanbul Atlas Üniversitesi                   1
Name: count, Length: 528, dtype: int64

Number of missing values (NaNs) in 'Universite Adi':
132

count                     64993
unique                      527
top       İSTANBUL ÜNİVERSİTESİ
freq                       2083
Name: Universite Adi, dtype: object
Unique values in 'Universite Adi':
[439 387 471 371 467 460 156  70 301 158  76 427 482 421 400 445 360 402
 477 449 454  77  34 312 234 191 209  33 311 447 384 333 444 266 386 363
 235 425 458 401 188 194 436 273 119 212 451 455 456 398 174 173 450 526
 434 367 330 127 385  86 187 128  78 380 189 463  84 275 316 261 315  18
 230 160   3 353 270 325  19 442   0 469  15  80 331 428  71 375 435 409
 252 491 501 210 308 182  65 341 163 523 318 430 509  89 517 484 390 492
  39 237 355 508 361 408 497 506 489 503 122 486 271 328 286 498 329 488
 110 307 365 513 410 382  96 184  97 287 494 392 525 419 437 201  66 135
 499 281 181 103 288 493 263 199 213  68 403  27 167 269 423 139 335 352
 466 129 227  75 313 113 170 220 132 297 426 219 272 144 358 381 369 298
 356 223 404  32   7 478 120 274 394 278 141  12 168 277 413 145 116  13
 140 232 185 324   1 340 166 115 268 121 459   6 214 126 399 193 207 279
  87 172 221 422 370 524 299  83 217   5 204 310 295 441 118  31   8 137
  73 226 117 143 440 364 195 157  36 453 396 461 296   2 362  17 481  81
 159 338 448 474 470 479 125 462  79 438 464 218 476 309 457  88 222 231
 418 146 229 228  22  26 317 276 366 357 257 424  21 468  74 368  25 205
 215 267 465 473  28 254  14   9  72 443 155  30 452 171 300 337 446 190
  16 405 253 262  29  20 475 233   4 432 415 161 412 472 154 134 106 100
 388 379 336 480 339 236  35 142  82 334  11 225  10 314 196  24 326 114
  47  59 152 485 417  93 242 302 147 511 148 249  52 284 389 165 321 176
 416 123  64 327 322 102 487 377 197 348 180 136  42 107 177 183 343 133
 150 175 354 200 285 319 290 259 247 138 243 407 518 292  49  44  69  48
 332 378 131  37 258  91 239 306 433  90  51 429  38 124 293 522 303 111
 244 350  43 502  46 245 104 320 101  41 349 186 304 203 395  94 179 151
  95 347 431 383 283 294 198  62 192  85 224 359 216  23 265 169  67 112
 149 164 153  58 260 346  45 250 374 282 483  40 512  55 105 351 397 411
 373 376 515 500 305  99 291 420 344 527 514 108 393 256 238 520 109  56
  54 516  50 178 240 255 496 519  92 342 391 495 345  98 251 206 202 504
  61  63 162 372 507  60 414 510 323 406 264 280 505 521 246 208  57 248
  53 211 241 289 130 490]

Value counts in 'Universite Adi' (including NaNs):
Universite Adi
469    2083
269    1672
466    1464
404    1438
315    1258
       ...
108       1
16        1
493       1
35        1
490       1
Name: count, Length: 528, dtype: int64

Number of missing values (NaNs) in 'Universite Adi':
0

count    65125.000000
mean       261.316269
std        148.045896
min          0.000000
25%        139.000000
50%        269.000000
75%        401.000000
max        527.000000
Name: Universite Adi, dtype: float64

### 2.7-) Universite Turu

In [42]:
universite_mapping = {
    'DEVLET': 'Devlet',
    'ÖZEL': 'Özel'
}

train_df['Universite Turu'] = train_df['Universite Turu'].replace(universite_mapping)
train_df['Universite Turu'] = train_df['Universite Turu'].fillna('Devlet')
train_df['Universite Turu'] = label_encoder.fit_transform(train_df['Universite Turu'])
analyze_column(train_df, 'Universite Turu')

Unique values in 'Universite Turu':
[1 0]

Value counts in 'Universite Turu' (including NaNs):
Universite Turu
0    53517
1    11608
Name: count, dtype: int64

Number of missing values (NaNs) in 'Universite Turu':
0

count    65125.000000
mean         0.178242
std          0.382719
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Universite Turu, dtype: float64

### 2.7-) Burs Yuzdesi

In [43]:
train_df = train_df.rename(columns={'Burslu ise Burs Yuzdesi': 'Burs Yuzdesi'})
train_df['Burs Yuzdesi'] = train_df['Burs Yuzdesi'].fillna(0)
analyze_column(train_df, 'Burs Yuzdesi')

Unique values in 'Burs Yuzdesi':
[100.   99.   98.   91.5  90.   88.   87.5  85.   82.5  80.   75.   74.
  72.   70.   69.   67.5  67.   65.   64.   63.   62.5  62.   60.   57.5
  57.   55.   50.   49.   48.   46.   45.   41.5  41.   40.   37.   35.
  32.   30.   25.   20.   11.   10.    8.    7.    6.    5.    4.    3.
   2.    1.    0. ]

Value counts in 'Burs Yuzdesi' (including NaNs):
Burs Yuzdesi
0.0      54857
100.0     5049
50.0      3149
75.0      1002
25.0       785
10.0        50
60.0        27
1.0         26
65.0        17
80.0        15
5.0         14
30.0        14
85.0        11
2.0         10
55.0         8
62.5         7
62.0         7
35.0         7
45.0         6
7.0          6
70.0         5
99.0         5
20.0         5
40.0         4
90.0         4
63.0         4
6.0          4
3.0          2
8.0          2
98.0         2
46.0         1
82.5         1
69.0         1
88.0         1
64.0         1
4.0          1
87.5         1
57.5         1
57.0         1
91.5         1
11.0         1
41.5         1
49.0         1
74.0         1
72.0         1
32.0         1
48.0         1
37.0         1
67.0         1
41.0         1
67.5         1
Name: count, dtype: int64

Number of missing values (NaNs) in 'Burs Yuzdesi':
0

count    65125.000000
mean        11.793251
std         29.355905
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        100.000000
Name: Burs Yuzdesi, dtype: float64

### 2.8-) Burs Aliyor mu?

In [44]:
burs_mapping = {
    'hayır': 'Hayır',
    'evet': 'Evet',
    'EVET': 'Evet'
}

train_df['Burs Aliyor mu?'] = train_df['Burs Aliyor mu?'].replace(burs_mapping)
train_df['Burs Aliyor mu?'] = label_encoder.fit_transform(train_df['Burs Aliyor mu?'])
analyze_column(train_df, 'Burs Aliyor mu?')

Unique values in 'Burs Aliyor mu?':
[0 1]

Value counts in 'Burs Aliyor mu?' (including NaNs):
Burs Aliyor mu?
1    52250
0    12875
Name: count, dtype: int64

Number of missing values (NaNs) in 'Burs Aliyor mu?':
0

count    65125.000000
mean         0.802303
std          0.398265
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: Burs Aliyor mu?, dtype: float64

### 2.9-) Bölüm

In [45]:
department_mapping = {
    'Elektrik Elektronik Mühendisliği': 'Elektrik-Elektronik Mühendisliği',
    'Bilgisayar Mühendisliği': 'Bilgisayar Mühendisliği',
    'Endüstri Mühendisliği': 'Endüstri Mühendisliği',
    'İşletme': 'İşletme',
    'Ekonomi': 'Ekonomi',
    'İktisat': 'İktisat',
    'Matematik': 'Matematik',
    'Siyaset Bilimi ve Kamu Yönetimi': 'Siyaset Bilimi ve Kamu Yönetimi',
    'Siyaset Bilimi ve Uluslararası İlişkiler': 'Siyaset Bilimi ve Uluslararası İlişkiler',
    'Hukuk': 'Hukuk',
    'Psikoloji': 'Psikoloji',
    'Biyomedikal Mühendisliği': 'Biyomedikal Mühendisliği',
    'Yönetim Bilişim Sistemleri': 'Yönetim Bilişim Sistemleri',
    'Maliye': 'Maliye',
    'Yazılım Mühendisliği': 'Yazılım Mühendisliği',
    'Uluslararası Ticaret': 'Uluslararası Ticaret',
    'Felsefe': 'Felsefe',
    'Tarih': 'Tarih',
    'Makine Mühendisliği': 'Makine Mühendisliği',
    'Mekatronik Mühendisliği': 'Mekatronik Mühendisliği',
    'Uluslararası İlişkiler': 'Uluslararası İlişkiler',
    'Tıp Fakültesi': 'Tıp Fakültesi',
    'Moleküler Biyoloji ve Genetik': 'Moleküler Biyoloji ve Genetik',
    'Eczacılık': 'Eczacılık',
    'İnşaat Mühendisliği': 'İnşaat Mühendisliği',
    'İşletme Mühendisliği': 'İşletme Mühendisliği',
    'Gazetecilik': 'Gazetecilik',
    'Hukuk Fakültesi': 'Hukuk Fakültesi',
    'Çevre Mühendisliği': 'Çevre Mühendisliği',
    'Beslenme ve Diyetetik': 'Beslenme ve Diyetetik',
    'Hemşirelik': 'Hemşirelik',
    'Elektronik ve Haberleşme Mühendisliği': 'Elektronik ve Haberleşme Mühendisliği',
    'Rehberlik ve Psikolojik Danışmanlık': 'Rehberlik ve Psikolojik Danışmanlık',
    'Türk Dili ve Edebiyatı': 'Türk Dili ve Edebiyatı',
    'Fizyoterapi ve Rehabilitasyon': 'Fizyoterapi ve Rehabilitasyon',
    'İngiliz Dili ve Edebiyatı': 'İngiliz Dili ve Edebiyatı',
    'Halkla İlişkiler ve Tanıtım': 'Halkla İlişkiler ve Tanıtım',
    'Sosyal Hizmet': 'Sosyal Hizmet',
    'Gıda Mühendisliği': 'Gıda Mühendisliği',
    'Kimya Mühendisliği': 'Kimya Mühendisliği',
    'İstatistik': 'İstatistik',
    'Kimya': 'Kimya',
    'Sosyoloji': 'Sosyoloji',
    'İngilizce Öğretmenliği': 'İngilizce Öğretmenliği',
    'Türkçe Öğretmenliği': 'Türkçe Öğretmenliği',
    'Sınıf Öğretmenliği': 'Sınıf Öğretmenliği',
    'Kamu Yönetimi': 'Kamu Yönetimi',
    'Okul Öncesi Öğretmenliği': 'Okul Öncesi Öğretmenliği',
    'Bilgisayar Mühendisliği(İngilizce)': 'Bilgisayar Mühendisliği',
    'İşletme(İngilizce)': 'İşletme',
    'Diş Hekimliği': 'Diş Hekimliği',
    'Fen Bilgisi Öğretmenliği': 'Fen Bilgisi Öğretmenliği',
    'Metalurji ve Malzeme Mühendisliği': 'Metalurji ve Malzeme Mühendisliği',
    'Endüstri Mühendisliği(İngilizce)': 'Endüstri Mühendisliği',
    'Elektrik-Elektronik Mühendisliği(İngilizce)': 'Elektrik-Elektronik Mühendisliği',
    'İlahiyat': 'İlahiyat',
    'Coğrafya': 'Coğrafya',
    'Makine Mühendisliği(İngilizce)': 'Makine Mühendisliği',
    'Ekonometri': 'Ekonometri',
    'İlköğretim Matematik Öğretmenliği': 'İlköğretim Matematik Öğretmenliği',
    'Elektrik Mühendisliği': 'Elektrik Mühendisliği',
    'Bilgisayar ve Öğretim Teknolojileri Öğretmenliği': 'Bilgisayar ve Öğretim Teknolojileri Öğretmenliği',
    'Çalışma Ekonomisi ve Endüstri İlişkileri': 'Çalışma Ekonomisi ve Endüstri İlişkileri'
}

# Map department names to standardized names
train_df['Bölüm'] = train_df['Bölüm'].map(department_mapping)

In [46]:
most_common_dep = train_df['Bölüm'].value_counts().head(75).index

train_df['Bölüm'] = train_df['Bölüm'].apply(lambda x: x if x in most_common_dep else "Other")
train_df['Bölüm'] = label_encoder.fit_transform(train_df['Bölüm'])

In [47]:
analyze_column(train_df, 'Bölüm')

Unique values in 'Bölüm':
[32 10  1 20 35 12 33  3 47 26 57 46  8 27 44 13 36 50 40 25 28 45 43 30
  6 55 58 16 21 49  0 19 11 34 41 15 53 18 37 17 24 56 23 38 54 42 39 22
 31  5 14 29 51  4  7 52  9  2 48]

Value counts in 'Bölüm' (including NaNs):
Bölüm
32    36962
12     2660
57     2598
1      2140
20     1769
25     1428
50     1064
55      897
10      751
45      743
33      687
19      670
35      539
6       522
51      521
38      507
26      472
5       421
34      407
47      396
36      378
27      377
24      375
40      316
28      315
17      310
41      298
46      287
11      279
29      274
48      267
39      266
30      264
22      258
53      257
54      250
8       247
7       242
18      237
23      236
49      234
31      228
58      204
52      200
43      190
37      186
3       170
42      166
56      165
16      164
44      162
0       156
9       153
2       148
14      145
4       143
21      142
15      142
13      140
Name: count, dtype: int64

Number of missing values (NaNs) in 'Bölüm':
0

count    65125.000000
mean        30.652960
std         12.184747
min          0.000000
25%         32.000000
50%         32.000000
75%         32.000000
max         58.000000
Name: Bölüm, dtype: float64

### 2.10-) Universite Kacinci Sinif

In [48]:
sinif_mapping = {
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    'Tez': 7,
    'Yüksek Lisans': 7,
    'Mezun': 0,
    'hazırlık': 0,
    'Hazırlık': 0,
    '0': 0
}

train_df = train_df.rename(columns={'Universite Kacinci Sinif': 'Sinif'})
train_df['Sinif'] = train_df['Sinif'].replace(sinif_mapping)
train_df['Sinif'] = train_df['Sinif'].fillna(2)
# Explicitly convert the column to integer type
train_df['Sinif'] = train_df['Sinif'].astype(int)

/var/folders/q7/w_hh_4ds07n_pl9zc0p1wxbc0000gn/T/ipykernel_8662/1781766906.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_df['Sinif'] = train_df['Sinif'].replace(sinif_mapping)

In [49]:
analyze_column(train_df, 'Sinif')

Unique values in 'Sinif':
[3 1 2 4 0 7 5 6]

Value counts in 'Sinif' (including NaNs):
Sinif
2    22147
3    16956
4    13113
1    10260
0     1489
5      961
6      177
7       22
Name: count, dtype: int64

Number of missing values (NaNs) in 'Sinif':
0

count    65125.000000
mean         2.516622
std          1.110235
min          0.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          7.000000
Name: Sinif, dtype: float64

### 2.11-) Universite Not Ortalamasi

In [50]:
ortalama_mapping = {'ORTALAMA BULUNMUYOR': 0, 
                   'Not ortalaması yok': 0, 
                   'Ortalama bulunmuyor': 0,
                   'Hazırlığım': 0,
                   '0 - 1.79': 0, 
                   '1.00 - 2.50':1, 
                   '1.80 - 2.49':1, 
                   '2.50 ve altı':1, 
                   '2.00 - 2.50':1, 
                   "3.00-2.50":2,
                   "2.50 - 3.00":2, 
                   "2.50 - 2.99":2, 
                   '2.50 -3.00':2, 
                   '3.00 - 3.50':3, 
                   '3.50-3':3, 
                   '3.00 - 3.49':3, 
                   '3.00 - 4.00':3, 
                   '3.50 - 4.00':4, 
                   '4-3.5':4,
                   '4.0-3.5':4}


train_df = train_df.rename(columns={'Universite Not Ortalamasi': 'Not Ortalamasi'})
train_df['Not Ortalamasi'] = train_df['Not Ortalamasi'].replace(ortalama_mapping)
train_df['Not Ortalamasi'] = train_df['Not Ortalamasi'].fillna(2)

/var/folders/q7/w_hh_4ds07n_pl9zc0p1wxbc0000gn/T/ipykernel_8662/327464256.py:24: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_df['Not Ortalamasi'] = train_df['Not Ortalamasi'].replace(ortalama_mapping)

In [51]:
analyze_column(train_df, 'Not Ortalamasi')

Unique values in 'Not Ortalamasi':
[3. 2. 1. 4. 0.]

Value counts in 'Not Ortalamasi' (including NaNs):
Not Ortalamasi
2.0    23479
3.0    17885
1.0    14566
4.0     4944
0.0     4251
Name: count, dtype: int64

Number of missing values (NaNs) in 'Not Ortalamasi':
0

count    65125.000000
mean         2.072246
std          1.028516
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          4.000000
Name: Not Ortalamasi, dtype: float64

### 2.12-) Mezuniyet Durumu

In [52]:
train_df = train_df.rename(columns={'Daha Once Baska Bir Universiteden Mezun Olmus': 'Mezuniyet Durumu'})
train_df['Mezuniyet Durumu'] = train_df['Mezuniyet Durumu'].fillna('Hayır')
train_df['Mezuniyet Durumu'] = label_encoder.fit_transform(train_df['Mezuniyet Durumu'])
analyze_column(train_df, 'Mezuniyet Durumu')

Unique values in 'Mezuniyet Durumu':
[1 0]

Value counts in 'Mezuniyet Durumu' (including NaNs):
Mezuniyet Durumu
1    63969
0     1156
Name: count, dtype: int64

Number of missing values (NaNs) in 'Mezuniyet Durumu':
0

count    65125.000000
mean         0.982250
std          0.132044
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: Mezuniyet Durumu, dtype: float64

### 2.13-) Lise Adi

In [53]:
'''
92% of the column is missing -> drop
'''
analyze_column(train_df, 'Lise Adi')

Unique values in 'Lise Adi':
['Ankara Ataturk Anadolu Lisesi' 'Betül Can Anadolu Lisesi' 'Batem' ...
 'BAĞCILAR EDİP İPLİK MESLEKİ VE TEKNİK ANADOLU LİSESİ'
 'Ahmet Vefik paşa Anadolu lisesi'
 'Samsun Terme Karadeniz mesleki teknik Anadolu lisesi']

Value counts in 'Lise Adi' (including NaNs):
Lise Adi
------                                                                             4251
NaN                                                                                 384
Atatürk Lisesi                                                                      199
Açık öğretim lisesi                                                                 161
Açık Öğretim Lisesi                                                                 151
                                                                                   ...
Nişantaşı Işık Lisesi                                                                 1
Tarsus atatürk lisesi                                                                 1
Hüsniye Özdilek Ticaret ve İletişim Anadolu Lisesi (Radyo ve Televizyon Bölümü)       1
Ses okulları                                                                          1
Samsun Terme Karadeniz mesleki teknik Anadolu lisesi                                  1
Name: count, Length: 31951, dtype: int64

Number of missing values (NaNs) in 'Lise Adi':
384

count      64741
unique     31950
top       ------
freq        4251
Name: Lise Adi, dtype: object

### 14 -) Lise Adi Diger

In [54]:
'''
92% of the column is missing -> drop
'''
analyze_column(train_df, 'Lise Adi Diger')

Unique values in 'Lise Adi Diger':
[nan 'İstanbul Alman Lisesi' 'şehzade mehmet koleji' ...
 'Gençosman İmkb tml' 'nefise andicen lisesi' 'büyük çiğli anadolu lisesi']

Value counts in 'Lise Adi Diger' (including NaNs):
Lise Adi Diger
NaN                                60392
Atatürk Anadolu Lisesi                 8
Beşiktaş Anadolu Lisesi                7
Açıköğretim Lisesi                     6
Uşak Fen Lisesi                        6
                                   ...
OSMANGAZİ TİCARET MESLEK LİSESİ        1
Seyyid Burhaneddin ATL                 1
Süleyman Çelebi                        1
Bitls Ticaret meslek lisesi            1
büyük çiğli anadolu lisesi             1
Name: count, Length: 4011, dtype: int64

Number of missing values (NaNs) in 'Lise Adi Diger':
60392

count                       4733
unique                      4010
top       Atatürk Anadolu Lisesi
freq                           8
Name: Lise Adi Diger, dtype: object

### 2.16-) Lise Sehir

In [55]:
# Replace 'None' with 'İstanbul'
train_df['Lise Sehir'] = train_df['Lise Sehir'].apply(fill_city)
train_df['Lise Sehir'] = train_df['Lise Sehir'].fillna('İstanbul')
train_df['Lise Sehir'] = label_encoder.fit_transform(train_df['Lise Sehir'])
analyze_column(train_df, 'Lise Sehir')

Unique values in 'Lise Sehir':
[ 5 22 77 64 41 78 67 39 44 48 28 52  0 60 58  6 27 49 18  2 74 57 12  3
 61 16 20 11 50  9 43 37 15 45 46 65 76 73 66 29 23 32 79 21 51 36 53 47
 34 38 26 13 33 55 56  8 59 72  4 25 70 69 71 40 75 14 42 24 30 31 80 62
  1 19 63 10 17 68  7 54 35]

Value counts in 'Lise Sehir' (including NaNs):
Lise Sehir
77    19837
5      5165
20     2360
78     2248
0      1917
      ...
14       68
75       55
7        50
68       47
31       43
Name: count, Length: 81, dtype: int64

Number of missing values (NaNs) in 'Lise Sehir':
0

count    65125.000000
mean        48.127616
std         28.083151
min          0.000000
25%         21.000000
50%         52.000000
75%         77.000000
max         80.000000
Name: Lise Sehir, dtype: float64

### 2.17-) Lise Turu

In [56]:
lise_turu_mapping = {'İmam Hatip Lisesi': 0, 
                     'Diğer': 0, 
                     'Devlet': 0,
                     'Düz lise': 0, 
                     'Düz Lise': 0, 
                     'Meslek lisesi':1, 
                     'Meslek':1, 
                     'Meslek Lisesi':1, 
                     'Özel':1, 
                     'Özel Lisesi':1, 
                     'Özel lisesi':1, 
                     'Özel Lise':1,
                     'Anadolu Lisesi':2,
                     'Anadolu lisesi':2,
                     'Fen lisesi':3,
                     'Fen Lisesi':3}

train_df['Lise Turu'] = train_df['Lise Turu'].replace(lise_turu_mapping)
train_df['Lise Turu'] = train_df['Lise Turu'].fillna(0)
analyze_column(train_df, 'Lise Turu')

Unique values in 'Lise Turu':
[2. 1. 3. 0.]

Value counts in 'Lise Turu' (including NaNs):
Lise Turu
0.0    28361
2.0    20369
1.0    13576
3.0     2819
Name: count, dtype: int64

Number of missing values (NaNs) in 'Lise Turu':
0

count    65125.000000
mean         0.963854
std          0.959221
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max          3.000000
Name: Lise Turu, dtype: float64

/var/folders/q7/w_hh_4ds07n_pl9zc0p1wxbc0000gn/T/ipykernel_8662/323145159.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_df['Lise Turu'] = train_df['Lise Turu'].replace(lise_turu_mapping)

### 2.17-) Lise Bolumu

In [57]:
most_common_lise_bolumu = train_df['Lise Bolumu'].value_counts().head(75).index
most_common_lise_bolumu

Index(['Sayısal', 'Eşit Ağırlık', 'FEN SAYISAL BİLİMLERİ ALANI', 'Sözel',
       'EŞİT AĞIRLIK TÜRKÇE-MATEMATİK ALANI', 'Dil', 'Diğer', 'Yabancı Dil',
       'TM', 'SOSYAL ALANI', 'sayısal', 'Fen Bilimleri', 'MF', 'eşit ağırlık',
       'SAYISAL', 'tm', 'DİL ALANI', 'Türkçe-Matematik', 'Fen',
       'FEN BİLİMLERİ', 'Eşit ağırlık', 'EŞİT AĞIRLIK', 'Matematik-Fen',
       'fen bilimleri', 'Tm', 'fen', 'Bilişim Teknolojileri', 'sayisal',
       'Türkçe Matematik', 'TÜRKÇE-MATEMATİK', 'mf', 'Fen bilimleri',
       'türkçe-matematik', 'FEN', 'türkçe matematik', 'sözel', 'Sayisal', 'EA',
       'TÜRKÇE MATEMATİK', 'Fen-Matematik', 'Türkçe - Matematik', '-',
       'Türkçe matematik', 'yok', 'Sosyal Bilimler', 'Bilgisayar',
       'yabancı dil', 'Matematik - Fen', 'SOSYAL BİLİMLER', 'sosyal bilimler',
       'Mf', 'SÖZEL', 'Türkçe-matematik', 'esit agirlik', 'Esit agirlik',
       'bilişim teknolojileri', 'FM', 'Elektrik-Elektronik', 'matematik fen',
       'BİLİŞİM TEKNOLOJİLERİ', 'MATEMATİK-FEN', 'Bilgisayarlı Muhasebe',
       'muhasebe', 'Türkçe- Matematik', 'matematik-fen', 'Muhasebe', 'TS',
       'Fen Matematik', 'YABANCI DİL', 'eşitağırlık', 'Dış Ticaret',
       'bilgisayarlı muhasebe', 'Bilgisayar Programcılığı', 'bilgisayar',
       'eşit agırlık'],
      dtype='object', name='Lise Bolumu')

In [58]:
simplified_mapping = {
    'Sayısal': [
        'Sayısal', 'SAYISAL', 'sayisal', 'MF', 'matematik fen', 'Fen-Matematik',
        'Matematik-Fen', 'TÜRKÇE-MATEMATİK', 'Türkçe-Matematik', 'Türkçe - Matematik',
        'Türkçe matematik', 'MF', 'matematik-fen', 'MATEMATİK-FEN', 'Fen Matematik',
        'Eşit Ağırlık', 'eşit ağırlık', 'EŞİT AĞIRLIK', 'esit agirlik', 'Esit agirlik',
        'EŞİT AĞIRLIK TÜRKÇE-MATEMATİK ALANI', 'Türkçe Matematik','Fen Bilimleri', 'FEN BİLİMLERİ', 'Fen', 'fen bilimleri', 'FEN',
        'Fen Matematik', 'Fen-Matematik', 'Fen Bilimleri', 'Matematik-Fen'
    ],
    
    'Sözel': [
        'Sözel', 'Sosyal Bilimler', 'SOSYAL BİLİMLER', 'sosyal bilimler', 'Sosyal Alanı',
        'Sosyal Bilimler ve Edebiyat', 'Eşit Ağırlık', 'Eşit Ağırlık Türkçe-Matematik Alanı'
    ],
    'Teknik': [
        'Bilgisayar', 'Bilişim Teknolojileri', 'Bilgisayar Programcılığı', 'Elektrik-Elektronik',
        'Bilgisayarlı Muhasebe', 'Muhasebe', 'Dış Ticaret', 'Web Tasarım', 'Bilgisayar Programcılığı'
    ],
    'Diger': [
        'Dil', 'Yabancı Dil', 'Diğer', 'Türkçe-Matematik', 'yok', 'bilişim teknolojileri',
        'Dış Ticaret', 'yabancı dil'
    ]
}

# Reverse the mapping for easier lookup
reverse_mapping = {item: category for category, items in simplified_mapping.items() for item in items}

# Apply the mapping to the DataFrame without filling NaNs
train_df['Lise Bolumu'] = train_df['Lise Bolumu'].map(reverse_mapping)
train_df['Lise Bolumu'] = train_df['Lise Bolumu'].fillna('Sayısal')
train_df['Lise Bolumu'] = label_encoder.fit_transform(train_df['Lise Bolumu'])
analyze_column(train_df, 'Lise Bolumu')

Unique values in 'Lise Bolumu':
[1 2 3 0]

Value counts in 'Lise Bolumu' (including NaNs):
Lise Bolumu
1    42132
2    20621
0     2234
3      138
Name: count, dtype: int64

Number of missing values (NaNs) in 'Lise Bolumu':
0

count    65125.000000
mean         1.286572
std          0.526590
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          3.000000
Name: Lise Bolumu, dtype: float64

### 2.18-) Lise Bolum Diger

In [59]:
'''
90% of the column is missing -> drop
'''
analyze_column(train_df, 'Lise Bolum Diger')

Unique values in 'Lise Bolum Diger':
[nan '-' 'ÖZEL FEN LİSESİ'
 'Sosyal Bilimleri Lisesi seçeneği koymadığınız için Fen Lisesi sekmesini işaretledim.'
 'Grafik Ve Fotoğraf' 'Bilişim Teknolojileri' 'mezuniyet notu:80'
 'Çocuk gelişimi ve eğitimi' 'yabancı dili:almanca' 'Ticaret'
 'devlet lisesi' 'Bilgisayarlı Muhasebe bölümü' 'Güverte Yönetimi'
 'Gazetecilik' 'Bakalorya programı' 'Eşit ağırlık devlet lisesi'
 'Bilgisayarlı Muhasebe' 'Alman Bölümü' 'Muhasebe ve Finansman'
 'ANADOLU ÖĞRETMEN LİSESİ' 'turizm ve otelcilik' 'dil bölümü'
 'halkla ilişkiler' 'IB High level : Fizik Matematik' 'Pazarlama'
 'MUHASEBE' 'İnşaat Teknolojisi' 'ACİL TIP TEKNİKERLİĞİ'
 'Grafik Tasarım ve Fotoğrafçılık' 'elektrik ve elektronik'
 'görüntü ve ses' 'Uluslararası Bakalorya Diploma Programı'
 'ÇOCUK GELİŞİMİ'
 'İlk üç sene sayısal (1 yıl International Baccalaureate), son yıl regular programda eşit ağırlık'
 'Genel' 'Bilgisayar Programcılığı'
 '3sene sayısal , son sene eşit ağırlık' 'Grafik ve Fotoğraf'
 'Bilgisayar bölümü ' 'IB Programı' 'Meslek'
 'Özel Fen lisesine okuduğum için dolaylı olarak bölümüm sayısaldı ancak resmiyette alanımız yoktu. '
 'Muzik' 'Alan dışı' 'Lojistik' 'Fen lisesi' 'Metal Teknolojileri'
 'ACİL TIP TEKNİSYENİ' 'IB/Sayısal'
 '1,2, ve 3. sınıflarda FM öğrencisiyken son sene TM bölümüne geçiş yaptım'
 'Çocuk Gelişimi' 'Diş Teknisiyenliği' 'makine teknolojileri' 'Hemşirelik'
 'Alan yok' 'Blişim Teknolojileri' 'bilimsel (FEN)'
 'Bilişim Teknolojileri - Veri Tabanı Programcılığı'
 'bilişim teknolojileri' 'IB' 'Veri tabanı programcılığı' 'Düz lise'
 'Giyim üretim teknolojisi' 'elektrik-elektronik teknolojisi bölümü'
 'muhasebe' 'Elektronik Haberleşme Sistemleri' 'HEMŞİRELİK'
 'Pazarlama ve perakende' 'Cnc' 'Bilim' 'Uluslararası Bakalorya'
 'Bilgisayar' 'inşaat' 'Duz' 'ILAHIYAT' 'Spor bölümü' 'Sadece ilk oturum'
 'Acil Tıp Teknisyenliği' 'Meslek lisesi' 'Alan Seçimi Yok' 'Muhasebe'
 'Çocuk gelişimi özel eğitim'
 'Polis Akademisine öğrenci kaynağı yetiştiren Emniyet Genel Müdürlüğüne bağlı lise düzeyinde eğitim veren kurum'
 'radyo televizyon ve sinema' 'resim' 'Sağlık bakım teknisyeni'
 'Web programcılığı' 'Çocuk gelişimi' 'Grafik tasarım ve fotoğrafçılık'
 'Bilişim teknolojileri' 'Bilişim Teknolojileri Bölümü'
 'Muhasebe ve finansman' 'Bİlgisayarlı muhasebe'
 'Web Tasarım ve Programlama' 'Çocuk gelisimi' 'sayisal ve sozel'
 '3 yıl sayısal son yıl TM okudum.' 'Denizcilik' 'Bilişim'
 '3 yıl sayısal son yıl eşit ağırlık bölümündeydim.' 'Web Programcılığı'
 'Elektrik-Elektronik Teknolojisi' 'Yabancı Dil ağırlıklı sözel'
 'İnşaat teknolojisi'
 'Bilişim Sistemleri / Veritabanı Programcılığı (Sayısal)'
 'giyim üretim teknolojisi' 'muhasebe finansman' 'Elektrik Elektronik'
 'Bilgisayar teknikerligi' 'Acil Tıp Teknisyeni' 'Makine'
 'Ağ İşletmenciliği' 'Güverte' 'Veri' 'ALAN YOK' 'Fen Lisesi'
 'Eşit Ağrılık2012/13' 'GAZETECİLİK BÖLÜMÜ' 'Eşit Ağırlık Bölümü Okudum'
 'Süper Lise' 'grafik ve fotoğraf' 'grafik tasarım ve fotoğrafçılık'
 'muhasebe finans bölümü' 'büroyonetimi ve tıp sektreterliği'
 'endüstriyel kontrol' 'yok.' 'hasta ve yaşlı hizmetleri'
 'bilişim teknolojileri / veri tabanı programcılığı'
 'Teknik Lise Web Program Programcılığı' 'Giyim Üretim Teknolojisi'
 'Web tasarım ve programlama' 'İklimlendirme' 'Makina Ressamlığı'
 'Elektrik-Elektronik' 'Dış Ticaret'
 'Bilişim Teknolojileri / Veri Tabanı Programcılığı' 'Bar' 'Kolej'
 'İlk 3 yıl sayısal son 1 yıl TM (okumak istediğim bölüme karar verdiğim için)'
 'Web Tasarım' 'Elektrik Elektronik / Haberleşme' 'Bölüm Yok'
 'Yapı Ressamlığı' 'Ulaştırma Hizmetleri (Lojistik)'
 'ATT ACİL TIP TEKNİKERLİĞİ' 'Yiyecek ve içecek'
 'Grafik Tasarım Ve Fotoğrafçılık' 'Makina Teknolojisi'
 'Veri tabanı programcılğı' 'Uluslararası Bakalorya (IB)'
 '3 yıl sayısal son yıl eşit ağırlık' 'DIŞ TİCARET'
 'Muhasebe (dış ticaret)' 'GEMİ MAKİNA ZABİTLİĞİ'
 'Elektrik ve elektronik pano montörlüğü' 'International Baccalaureatte'
 'Lisemizde herhangi bir şekilde bölüm seçme durumu yoktu.'
 'Ön Büro ve Konaklama İşletmeciliği' 'Web proglamlama' 'İstanbul'
 'BİLGİSAYARLI MUHASEBE'
 'AP Branş derleri ile seçmeli Amerikan sistemi. Tekil müfredat yok.'
 'moda tasarım' 'Veritabanı Programcılığı' 'Grafik tasarımı'
 'Meslek- Bilişim' 'Mekatronik' 'Bilişim teknolojileri / Web tasarım'
 'Dış ticaret muhasebe' 'Sağlık Bakım Teknisyeni' 'açıköğretim'
 'Gıda Teknolojisi' 'Sayısal' 'international baccalaureate'
 'Grafik ve Fotoğrafçılık' 'Tüm Dersler+dil+mesleki dersler' 'yok' 'ts'
 'Elektrik Elektronik bölümü' 'elektrik elektronik' 'Ulaştırma/Lojistik'
 'Muhasebe Finansman' 'Yat kaptanlığı' 'Sosyal Bilimler' 'TMS '
 'Eloktronik' '3 yıl sayısal 1 yıl eşit ağırlık' 'Bolum yok'
 'Polis Koleji müfredatı eşit ağırlık ağrılıklı' 'Gemi Yönetimi'
 'Lisede bölüm seçmiyorduk.' 'alan yok' 'ELEKTRİK' 'Alanı Yok'
 'teknik kimya' 'Bilişim eknolojileri' 'Almanca'
 'Sınava eşit ağırlıktan girdim.' 'Mutfak'
 'Amerikadaki okulumda alan seçmek gibi bir zorunluluğum yoktu, o nedenle herhangi bir alandan mezun olarak bitirmedim.'
 'Matematik Fen' 'BU BİLGİLER MEZUN OLDUĞUM LİSE BİLGİLERİDİR.'
 'Aynı zamanda Fen öğrencisiydim.' 'meslek lisesi'
 'Bilgisayar programcılığı / Web tasarım'
 'BÜRO YÖNETİMİ VE SEKRETERLİK BÖLÜMÜ TIP SEKRETERLİĞİ ALANI' '86'
 'Anadolu Öğretmen Lisesi' 'Spor' 'Radyo Televizyon Programcılığı'
 'Bilişim/ Web Tasarım ve Programlama'
 'Bilgisayarlı Muhasebe/Muhasebe ve Finans' '84' 'BİLİŞİM TEKNOLOJİLERİ'
 'BİLİŞİM SİSTEMLERİ' 'Çocuk Gelişimi ve Eğitimi'
 'Cocuk gelisimi ve eğitimi' 'Bilgisayar Teknolojileri'
 'Saglik bilimleri bioloji kimya' 'Almanca dili' '79.25' 'Meslek bölümü'
 'elektrik-elektronik' 'Adalet' 'sayısal'
 'Askeri Liselerde Bölüm Sistemi Mevcut Olmayıp Bütün Dersler Görülmekteydi.'
 'Elektrik Elektronik mezunuyum'
 'Türkçe-Matematik-Sosyal Sadece SBLlerde uygulanan TMS bölümü'
 'Öğretmen lisesi' 'International Bachelorate - SAT- AP' 'erken cocukluk'
 '.' 'Yok' 'International Baccalaureate' 'makina cnc'
 '3. sınıfta TMye geçtim' 'Elektrik Elektronik Teknolojisi' 'BİLGİSAYAR'
 'İngilizce ağırlıklı sayısal' 'çocuk gelişimi' 'Makine Teknolojisi'
 'Otomasyon sistemleri' 'Veri Tabanı Programcılığı'
 'MUHASEBE VE FİNANSMAN' 'Yabancı Dille Eğitim Yapan Özel Lise'
 'Front Office' 'GIDA TEKNOLOJİSİ' 'bilgisayar' 'Bilgisayar bölümü'
 'Giyim üretim teknolojileri' 'Türkçe sosyal Sözel'
 'Ulaştırma Hizmetleri/Lojistik' 'Bilişim Teknelojileri' 'makine'
 'SOSYAL BİLİMLER LİSESİ' 'BilişimTeknolojileri alanı'
 'ELEKTRİK-ELEKTRONİK TEKNOLOJİLERİ' 'sigortacılık'
 'Halkla ilişkiler ve Organizasyon' 'KİMYA BÖLÜMÜ'
 'Giyim Üretim Kadın Terziliği' 'moda Tasarım' 'Sosyal Bilimler Lisesi'
 'okul birincisi olarak mezun oldum' 'Bilim İnsanı Yetiştirme Programı'
 'Resim' 'Bilişim Teknolojileri/Veri tabanı programcılığı'
 'Bilgisayarlı muhasebe ve fansman' 'Muhasebe-Finansman' 'Bilişim Alanı'
 'büro yönetimi ve sekreterlik' 'Bilişim Teknolojileri Alanı' 'T-M'
 'eklemek istediğim birşey yok' 'GAZETECİLİK/ SAYFA sEKRETERLİĞİ'
 'muhasebe ve finans' 'gemi yapım alanı' 'veri tabanı' 'Web tasarımı'
 'Konaklama ve Seyahat' 'Aşçılık'
 'BİLİŞİM TEKNOLOJİLERİ ALANI/WEB TASARIM DALI' 'Makine Ressamlığı'
 'sayısaldan geçiş' 'Fen Bilimleri' 'MİMARLIK BÖLÜMÜ'
 'Elektrik-elektronik teknolojileri' 'CNCBilgisayar Sayımlı Yönetim'
 'GEMİ YÖNETİMİ GÜVERTE' 'EA' 'Çocuk ve Gelişimi' 'bilişim'
 'WEB TASARIM VE PROGRAMLAMA' 'Yabancı dil' 'bilgisayar proğramcılığı'
 'kimya' 'sözel' 'MUHASEBE-FİNANSMAN' 'Bilgisayarlı muhasebe' 'Otomasyon'
 'Science' '+Bilgisayar'
 'MAKİNE TEKNOLOJİLERİ/BİLGİSAYARLI MAKİNE İMALATI' 'hemşirelik'
 'ELEKTRİK ELEKTRONİK' 'teknoloji tasarım' 'alansız' 'sağlık'
 'Otomasyon bölümü' 'Yiyecek İçecek Hizmetleri' 'Otomasyon Sistemleri'
 'Muhasebe ve Finans' 'tekstil' 'ÇOCUK GELİŞİMİ VE EĞİTİMİ'
 'Elektrik Elektronik .Teksnolojisi' 'ENDÜSTRİYEL OTOMASYON'
 'İnşaat Teknolojileri' 'El sanatları' 'bilgisayarlı muhasebe'
 'Grafik ve Fotoğraçılık' '79.73' 'Bilişim Teknolojileri-Web Tasarım'
 'SBL' 'Bilgisayar donanım' 'Radyo ve Televizyon' 'Eşit ağırlık'
 'BİLİŞİM TEKNOLOJİLERİ ALANI' 'Muhasebe / Dış ticaret ve finansman'
 'Sosyal Bİlimler Lisesi' 'normal' 'çocuk gelişimi ve eğitimi Bölümü'
 'Bilişim TeknolojileriVeri Tabanı Prog.' 'yiyecek içecek hizmetleri'
 'OTOMOTİV' 'çocuk gelişim alanı özel eğitim bölümü'
 'UÇAK BAKIM - UÇAK ELEKTRİK-ELEKTRONİĞİ' 'Bilgiaayar Programcılığı'
 'Biyomedikal' 'bölüm ayrımı olmayan' '0'
 'Elektrik-Elektronik Teknolojileri' 'ÇOCUK GELİŞİMİ EĞİTİMİ'
 'Grafik Tasarım' 'bilgisayar web programcılığı' 'Çocuk gelişimi bölümü'
 'ELEKTRİK-ELEKTRONİK' 'müzik' 'Yiyecek ve İçecek/ Mutfak'
 'Bilişim Teknolojileri/Web Programcılığı' 'Aşşçılık'
 'Bilgisayarlı Muhasebe ve Finansman' 'eşit ağırlık'
 'buro yonetimi ve sekreterlik' 'muhasebe bölümü' 'sözel bölüm'
 'elektronik' 'Çocuk Gelişimi bölümü' '...' 'psikoloji'
 'Spor Branşı/Atletizm' 'çocuk gelişimi ve eğitim alanı' 'dil alanı'
 'İnşaat Teknolojileri/Yapı Ressamlığı' 'acil tıp teknisyeni'
 'Elektrik Elektronik Bölümü/ Esndüstriye Bakım Onarım'
 'Yiyecek İçecek Hizmetleri / Bar'
 'Bilgisayar Programcılığı / Veri tabanı' 'resim bölümü' 'Elektronik'
 'radyo-tvprogramcılığı' 'RESİM' 'MUHASEBE VE VERGİ UYGULAMALARI'
 'FİNANS BORSA' 'Cocuk Gelisimi ve Egitimi'
 'KİMYA TEKNOLOJİSİ/KİMYA LABORATUARI' 'yiyecek içecekmutfak'
 'makine teknolojileri/bilgisayarlı makina imalatıCNC' 'Matemetil Sayısal'
 'Sayisal' 'meslek sayısal' 'Muhasebe ve Finansman Bölümü'
 'sosyal hizmetler' 'Tarım teknolojileri' 'gıda teknolojisi'
 'grafik ve fotografçılık' 'elektrik elektronik haberlesme'
 'grafik tasarım' 'anadolu lisesi'
 'Eletrik Elektronik Teknolojisi- Endüstriyel Bakım Onarım dalı'
 'WEB TASARIM' 'Anadolu Teknik' 'İbrahim Çalık' 'Elektrik'
 'Makina-Sayısal' 'çocuk gelişimi ve eğitimi' 'Makina'
 'YİYECEK İÇECEK HİZMETLERİ' 'FİNANSMANMUHASEBE' 'Alansız'
 'Motorlu Araçlar Teknolojisi' 'RADYO TELEVİZYON' 'makina CNC'
 'saç bakımı ve güzellik hizmetleri programı'
 'Ayakkabı ve Saraciye Teknolojileri' 'Muhasebe Ve Finansman'
 'acik ogretim lisesi' 'Sözel' 'ELEKTRONİK' 'Teknik Alan'
 'bilişim teknolojisi' '74,18 100 lük sistemde' 'End Kalıp tasarım'
 'BİLGİSAYAR PROGRAMCILIĞI' 'Gazeticilik' 'web tasarım'
 'Hasta ve Yaşlı Bıkımı' 'wep tasarım bölümü' 'hs' 'eşitağırlık'
 'Elektrik - Elektronik Teknolojisi' 'CNCComputer Numerık Kontrol'
 'Veri Tabanı Programcılığı Bölümü' 'Fizik kimya biyoloji'
 'Muhasebe Finans' 'Elektrik - Elektronik' 'Elektrik elektronik'
 'Sözel /sosyal' 'sayısal matematik' 'alan yoktu' 'MAKİNE'
 'dini ve sosyal' 'Elektrik Alanı' 'Bilgisayar Bölümü/Web Programcılığı'
 'Makine Bölümü' 'Elektronik Teknolojisi'
 'ELEKTRIK ELEKTRONIK TEKNOLOJILERI'
 'sayısal bölüm olarak kabul edilmektedir elektrik böümü.'
 'elektrik-elektronik teknolojisi' 'tm' 'Müzik Bölümü'
 'web tasarım ve programlama' 'elektirik elektronik'
 'bilisim teknolojileri' 'Elektrik ve Teknoloji'
 'Web tasarım ve Programlama' 'soğutma ve iklimlendirme'
 'bilgisayar programlama' 'Büro Yönetimi ve Yönetici Asistanlıgı'
 'Sayısal Matematik-Fen' 'ahşap tekmolojisi' 'FEN' 'pazarlama perakende'
 'makina ressamlığı' 'imam hatip' 'batman tutgut özal anadolu lisesi'
 'Metal teknolojisi' 'BİLİŞİM TEKNOLOJİLERİ/Wep Programcılığı'
 'elektrik elektronik teknolojisi' 'büro yönetimi'
 'Bilişim Teknolojileri/Web Programcılıgı' 'anadolu teknik'
 'elektrik-elektronik teknolojiler' 'Elektirik' 'Elektrik-elektronik'
 'Bilişim Teknolojileri Veri Tabanı Programcılığı' 'Bİlişim sistemleri'
 'makina teknolojisi' '78' 'bölüm yok' '..'
 'Bilgisayarlı Makine İmalatiCNC' '12.sınıfta TM ye gectim'
 'Mezuniyet notum 100 % 67' 'ELEKTRİK ELEKTRONİK TEKNOLOJİSİ'
 'bilgisayar bölümü' '------' 'BİLİŞİM BÖLÜMÜ' 'otomotiv'
 'muhasebe ve finansman bilgisayarlı muhasebe bölümü'
 'Elektronik Haberleşme Teknolojisi' 'Elektrik Elektronik Teknolojileri'
 'ENDÜSTRİYEL BAKIM VE ONARIM'
 'bize ders vermediler sadece boş bi kağıt parayı düşünen insanlar böyle olur'
 'BİLİŞİM TEKNOLOJİLERİ / WEB PROGRAMCILIĞI'
 'ELEKTRİK VE ELEKTRONİK TEKNOLOJİSİ' 'Bilgisayar Programlama'
 '59,70 diploma puanı' 'Kimya' 'BİLGİSAYAR BÖLÜMÜ'
 'bilişim teknolojileri bölümü' 'BİLİŞİM TEKNOLOJİLERİ VERİTABANI DALI'
 'endusturu meslek lisesi' 'meslek' 'resim öğretmenliği'
 'GENEL OLARAK SÖZEL.' 'Elektronik Haberleşme Tekn.'
 'ELEKTRİK TEKNOLOJİSİ' 'MOTOR' 'Bilişim teknolojileri alanı'
 'Bilişim Teknolojileri Bolumu' 'BİLGİSAYARLI MUASEBE' 'nuhasebe'
 'Meslek Lisesi' 'anadolu öğretmen' 'Elektrik/Elektronik'
 'ELEKTRONİK HABERLEŞME TEKNOLOJİSİ' 'metal teknoluji' 'Hayvan Sağlığı'
 'Matbaa Teknolojisi Alanı' 'Muhasebe ve Vergi Uygulamaları'
 'Elektrik elektronik bölümü' 'Bilisim Teknolojileri' 'İNŞAAT'
 'genel kültür' 'Lisede bölüm farklılığı yoktu.' 'Askeri'
 'Okul Öcesi Eğitimi' 'lojistik' 'bölüm yoktu karışık eğitim aldım'
 'adalet' 'Web tasarım bölümü ' 'Yabancı dil + sayısal'
 'Elektrik, elektronik ve Telekomünikasyon' 'Lojistik - Ulaştırma'
 "Eşit Ağırlık Sözel - TMS (SBL'lere özel)" 'Bölüm yoktu'
 'İnsaat Teknolojisi' 'Muhasebe ve finans '
 'Bilgisayarlı Muhasebe - Eşit Ağırlık' 'Spor '
 'bilgisayar/ veri tabanı programcılığı' 'Bigisayar Programlama'
 'Muhasebe ' 'Turizm' 'Bilgisayar  bölümü' 'Hepsi' 'Gemi inşaatı'
 'Cocuk gelişimi' 'metal kaynak celik kontruksiyon'
 'Her sene birini okudum' 'Bölüm yok' 'Elektrik- Elektronik '
 'Bilişim Teknolojileri ' "Sağlık Meslek'de bölüm olmuyor" 'Askeri Lise'
 'Meslek Lisesi(Sayısal Bölüm)' 'Mobilya iç mekan tasarımj'
 'IB International Baccalaureate' 'tesisat teknolojisi ve iklimlendirme'
 'askeri lise' 'Muhasebe/Finansman' 'Makina Teknolojisi ' 'Dış ticaret'
 'web tasarım programcılığı' 'Askeri Lise Olduğu İçin Bölüm Seçimi Yoktu'
 'Grafik tasarim ve fotografcilik' 'Bilisim teknolojileri'
 'Lisede IB(international Bachalorate) programindan mezun oldum ayrica sayisal bolumu derslerini de basari ile verdim'
 'IT' 'AŞÇILIK' 'mobilya dekorasyon ' 'Konservatuvar'
 'İlk üç yıl sayısal ve son yıl eşit ağırlık öğrencisi idim.'
 'elektrik-elektornik' 'Elektrik- Elektronik' 'ÇOÇUK GELİŞİMİ' 'Mekanik'
 'teknik lise' 'Uçak gövde motor' 'Hapisinden vardı '
 'Kontrol ve Otomasyon Teknolojileri' 'Büro Yönetimi ve Sekreterlik'
 'Muhasebe finansman ' 'Alan dersleri C# Java'
 'Elektro mekanik taşıyıcılar' 'muhasebe ve finansman'
 'Meslek bilişim teknolojileri' 'Endüstriyel Otomasyon Teknolojileri'
 'Veri tabanı Programcılığı' 'Peyzaj Planlama ve Tasarımı'
 'Elektrik ve Elektronik'
 'ELEKTRİK ELEKTRONİK/ ENDÜSTRİYEL BAKIM VE ONARIM'
 '3 sene sayısal son sene eşit ağırlık okudum' 'Bilişim teknolojileri '
 'grafik' 'turizm otelcilik' '3 sene sayısal son sene eşit ağırlık'
 'Mekatronik/Otomasyon' 'fen' 'HEMŞİRE' 'imam hatip programı'
 'Elektronik Güvenlik'
 'Bilişim Teknolojileri / Web Programcılığı ve Tasarımı'
 'Teknik bilgisayar' 'WEB PROGRAMCILIĞI' 'Askeri müfredat' 'edebi'
 'Okul birincisi' 'Bilgisayar Bölümü' 'TM+sozel' 'Müzik'
 'Laboratuvar Hizmetleri' 'Çocuk gelişimi ve özel egitim'
 'Güzellik ve saç bakımı' 'X' 'Elektrik elektronik tekolojisi'
 '11 yillik egtim' 'Anadolu Teknik Lisesi' 'spor'
 'Büro Yönetimi ve Hukuk Sekreterliği' 'Mimari Yapı Ressamlığı'
 'Makine (Bilgisayar Destekli Endüstriyel Modelleme)'
 'Bilişim Teknolojileri Veritabanı Programcılığı' 'Gıda teknolojisi'
 'Web Tasarımı' 'Bilgisayar destekli makina imalatı' 'diş protez'
 'Otomativ Bölümü' 'Muhasebe/ Dış ticaret' 'elektronik ve haberleşme'
 'Alanı yok' 'Elektrik-Elektronik Tesisat ve Pano monitörlüğü'
 'Bilisim teknolojileri/ag isletmenligi' 'BÖLÜM YOK' 'Düz' 'Yabanci'
 'Büro Yönetimi' 'gıda teknisyenliği' 'Çocuk Gelişimi ve eğitimi'
 'Harita Tapu Kadastro (TEKNİK LİSE)' 'makina bakım onarım'
 'Alan ayrımı olmayan' 'BİLİŞİM TEKNOLOJİLERİ/VERİ TABANI PROGRAMCILIĞI'
 'ELEKTRİK ELEKTRONİK TEKNOLOJİSİ ALANI - ENDÜSTRİYEL BAKIM ONARIM BÖLÜMÜ'
 'Endüstriyel Otomasyon' 'Borsa finans hizmetler'
 'Elektrik elektronik bölümü anadolu teknik' 'Genel kültür'
 'Tarım Teknolojileri Alanı/ Endüstriyel sebze ve meyve yetiştiriciliği dalı'
 'Bilişim Teknolojileri/Veritabanı' 'ELEKTRİK-ELEKTRONİK BÖLÜMÜ'
 'Büro yönetimi' 'Teknik Servis' 'Web Programlama' 'TM ve MF aynı anda'
 'anestezi' 'Edebiyat vé dil' 'Bilişim/Web Programlama'
 'güzellik ve saç bakımı' 'Bölüm ayrımı yok'
 'Tesisat teknolojisi ve iklimlendirme' 'METAL TEKNOLOJİLERİ'
 'Çocuk Gelişimi Ve Eğitimi' 'Çocuk gelişimi ve eğitimi /Erken Çocukluk'
 'Radyo Televizyon' 'Biyoloji' 'Grafik Tasarımı' 'Science, 16.5/20'
 'Elektrik elektronik haberlesme' 'bilgisayar destekli makine ressamlığı'
 'yazılım' 'TESİSAT TEKNOLOJİSİ VE İKLİMLENDİRME' 'Bilgiseyar'
 'Servis bölümü' 'Veri Tabanlı Programlama' 'Makine Teknolojileri'
 'ENDÜSTRİYEL OTOMASYON TEKNOLOJİLERİ' 'İmam hatip lisesi'
 'Diş Protez Teknisyenliği' 'MUHASEBE FİNANSMAN'
 'elektrik pano montatörlüğü'
 'Makine Teknolojileri-Bilgisayar Destekli Endüstriyel Modelleme'
 'Çoçuk gelişi Bölümü' 'dış ticaret' 'teknik Lise elektrik Elektronik'
 'Makine Teknolojisi Alanı (zorunlu sayısal)' 'Hasta ve yaşlı hizemetleri'
 'Yiyecek İcecek Hizmetleri' 'Kimya Teknolojisi' 'Borsa Finans'
 'Eşit ağırlıklı' 'deri giyim tasarım'
 'Elektrik Tesisatları ve Pano Monitörlüğü' 'Alan Yok'
 'Pazarlama Ve Perakendecilik' 'baccalaureate'
 'Bilişim Teknolojiler Alanı' 'Cocuk gelisimi'
 'Bilişim Teknolojileri - Web Tasarım' 'Görüntü ve Ses Sistemleri'
 'MUHASEBE VE FİNANSMAN ALANI' 'ASKERİ LİSE' 'MUHASEBE VE FİNANMAN'
 'Askeri lise' 'Turizm Meslek Lisesi' 'mutfak' 'İmam Hatip' 'düz lise'
 'Özel eğitim' 'Bilişim ve Teknolojileri | Web Programcılığı'
 'Türkçe - Matematik - Sosyal' 'Otomasyon teknolajileri'
 'Plastik Teknolojisi / Kalıp' 'Web tasarim' 'mobilya ve dekerasyon'
 'Muhasebe ve finasman' 'Grafik tasarım ve fotoraf' 'Ön büro'
 'duz lise. bolum kaldirildi.' 'Sosyal Hizmetler'
 'Muhasebe Ve Finansman Uygulamaları' 'Hasta ve yaşlı hizmetleri'
 'Bilişim Teknolojileri-Programlama' 'Makine Teknolojileri | CNC DALI'
 'mobilya ve iç mekan tasarımı alanı' 'Fen bilimleri'
 'bilgisayar programcılığı'
 'Uluslararası Bakalorya Programı ve MF bölümü çift diploma'
 'Grafik tasarim' 'SANAT VE TASARIM'
 'Bilgisayar Destekli Makine Ressamlığı'
 'Bilişim Teknolojileri - Web Programcılığı' 'Giyim Üretim Teknolojileri'
 'genel' 'Resim Bölümü' 'Bölüm olmayan' 'muhasebe ve finasman'
 'Muhasebe- Dış Ticaret'
 'Giyim üretim teknolojisi / kadın giysi modelistliği'
 'güvenlik sistemleri' 'Sanat ve tasarım' 'elektrik' 'turizm lisesi'
 'Çocuk gelişimi,TM' 'bilişim teknolojileri/web programcılığı'
 'ağ işletmenliği' 'hasta ve yaşlı bakımı' 'Bilimsel'
 'Ulaştırma Hizmetleri' 'Cnc Tezgahları ve Modelleme' 'BİYOMEDİKAL'
 'YİYECEK VE İÇECEK BÖLÜMÜ' 'Alan-Dal Yok'
 'Elektromekanik - Deniz Motorları' 'Ahşap' 'Tarım teknoloji'
 'Kadın Giyim Modelistliği' 'Anestezi ve Reanimasyon' 'grafik tasarımı'
 'Elektrik elektronik teknolojisi' 'makine / cnc' 'AÇIK ÖĞRETİM'
 'Kimya Teknolijisi' 'Uçak Teknisyenliği (Gövde-Motor)'
 'Anadolu İletişim Meslek Lisesi/Radyo Televizyon Programcılığı'
 'Turizm ve Otelcilik/Konaklama ve Seyahat' 'Anestezi Ve Reanimasyon'
 'Bilişim ve Teknolojileri' 'Kadın terziligi' 'askeri'
 'Güzellik ve Saç Bakımı' 'Giyim üretimi' 'Açık öğretim' 'Web program'
 'Genel Bilim Lise' 'Radyoloji teknisyeni' 'BİLİMSEL' 'Sağlık lisesi'
 'Sağlık hizmetleri/ Sağlık bakım teknisyeniliği.'
 'Uygulamalı Askeri Bilimler - Akademik Eğitim' 'IB programı'
 'Hemşire yardımcılığı' 'Halkla ilişkiler ve organizasyon' 'Sağlık'
 'Hemşire' 'açık lise' 'TEKNİK LİSE'
 'Çocuk Gelişimi ve Eğitimi alanı/erken çocukluk dalı' 'ÖZEL EĞİTİM'
 'Yiyecek içecek hizmetleri' 'Muhasebe bölümü' 'Bilişim ve teknoloji'
 'Turizm, konaklama ve seyahat alanı' 'Elektronik Haberleşme'
 'Uçak Elektrik-Elektroniği' 'Açıköğretim okuduğum için bölümüm yok'
 'Bölümü yok/ Dalı yok' 'anestezi ve reanimasyon'
 'Çocuk Gelişimi- Özel Eğitim' 'farklı' 'açık öğretim'
 'International Baccalaureate: 27'
 'Bilişim teklonojileri bölümü Veri tabanı dalı' 'Gemi Yapımı'
 'Bilişim Teknolojileri - Ağ İşletmenliği' 'motorlu araçlar teknolojisi'
 'güverte' 'American Curriculum'
 'International Baccalaureate diploma programı' 'Eşit - Dil'
 'Bilgisayarlı muhasebe ve finansman' 'Grafik ve fotoğrafçılık'

### 2.19-) Lise Mezuniyet Notu

In [60]:
analyze_column(train_df, 'Lise Mezuniyet Notu')

Unique values in 'Lise Mezuniyet Notu':
['3.50-3' '3.00 - 4.00' '3.00-2.50' '2.50 ve altı' '4.00-3.50' '3.50-3.00'
 nan '69-55' '100-85' '84-70' '54-45' '44-0' '75 - 100' '50 - 75'
 'Not ortalaması yok' '25 - 50' '0 - 25' '50 - 74' '25 - 49' '0 - 24']

Value counts in 'Lise Mezuniyet Notu' (including NaNs):
Lise Mezuniyet Notu
75 - 100              22433
84-70                  9141
100-85                 6967
NaN                    5917
4.00-3.50              3689
50 - 75                3115
3.00 - 4.00            3101
3.50-3.00              2759
3.50-3                 2330
69-55                  2162
3.00-2.50              2153
50 - 74                1007
2.50 ve altı            226
54-45                    88
25 - 50                  14
Not ortalaması yok       11
44-0                      6
0 - 25                    3
25 - 49                   2
0 - 24                    1
Name: count, dtype: int64

Number of missing values (NaNs) in 'Lise Mezuniyet Notu':
5917

count        59208
unique          19
top       75 - 100
freq         22433
Name: Lise Mezuniyet Notu, dtype: object

In [61]:
lise_not_mapping = {
    # Highest Scores
    '75 - 100': 5,
    '100-85': 5,
    '4.00-3.50': 5,
    
    # High Scores
    '84-70': 4,
    '3.00 - 4.00': 4,
    '3.50-3.00': 4,
    '3.50-3': 4,
    
    # Mid Scores
    '50 - 75': 3,
    '69-55': 3,
    '3.00-2.50': 3,
    '50 - 74': 3,
    
    # Low Scores
    '2.50 ve altı': 2,
    '54-45': 2,
    '25 - 50': 1,
    
    # No Scores
    'Not ortalaması yok': 0,
    '44-0': 0,
    '0 - 25': 0,
    '25 - 49': 1,
    '0 - 24': 0
}

train_df['Lise Mezuniyet Notu'] = train_df['Lise Mezuniyet Notu'].map(lise_not_mapping)
train_df['Lise Mezuniyet Notu'] = train_df['Lise Mezuniyet Notu'].fillna(5)
analyze_column(train_df, 'Lise Mezuniyet Notu')

Unique values in 'Lise Mezuniyet Notu':
[4. 3. 2. 5. 0. 1.]

Value counts in 'Lise Mezuniyet Notu' (including NaNs):
Lise Mezuniyet Notu
5.0    39006
4.0    17331
3.0     8437
2.0      314
0.0       21
1.0       16
Name: count, dtype: int64

Number of missing values (NaNs) in 'Lise Mezuniyet Notu':
0

count    65125.00000
mean         4.45772
std          0.73868
min          0.00000
25%          4.00000
50%          5.00000
75%          5.00000
max          5.00000
Name: Lise Mezuniyet Notu, dtype: float64

### 2-20-) Baska Bir Kurumdan Burs Aliyor mu?

In [62]:
train_df['Baska Bir Kurumdan Burs Aliyor mu?'] = train_df['Baska Bir Kurumdan Burs Aliyor mu?'].fillna('Hayır')
train_df['Baska Bir Kurumdan Burs Aliyor mu?'] = label_encoder.fit_transform(train_df['Baska Bir Kurumdan Burs Aliyor mu?'])
analyze_column(train_df, 'Baska Bir Kurumdan Burs Aliyor mu?')

Unique values in 'Baska Bir Kurumdan Burs Aliyor mu?':
[1 0]

Value counts in 'Baska Bir Kurumdan Burs Aliyor mu?' (including NaNs):
Baska Bir Kurumdan Burs Aliyor mu?
1    48744
0    16381
Name: count, dtype: int64

Number of missing values (NaNs) in 'Baska Bir Kurumdan Burs Aliyor mu?':
0

count    65125.000000
mean         0.748468
std          0.433897
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: Baska Bir Kurumdan Burs Aliyor mu?, dtype: float64

### 2.21-) Burs Aldigi Baska Kurum

In [63]:
train_df['Burs Aldigi Baska Kurum'] = train_df['Burs Aldigi Baska Kurum'].fillna('-')
train_df['Burs Aldigi Baska Kurum'] = train_df['Burs Aldigi Baska Kurum'].str.lower()
train_df['Burs Aldigi Baska Kurum'] = train_df['Burs Aldigi Baska Kurum'].apply(lambda x: 0 if x == '-' else (1 if 'kyk' in x else 2))
analyze_column(train_df, 'Burs Aldigi Baska Kurum')

Unique values in 'Burs Aldigi Baska Kurum':
[0 1 2]

Value counts in 'Burs Aldigi Baska Kurum' (including NaNs):
Burs Aldigi Baska Kurum
0    48688
1     8757
2     7680
Name: count, dtype: int64

Number of missing values (NaNs) in 'Burs Aldigi Baska Kurum':
0

count    65125.000000
mean         0.370319
std          0.684868
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          2.000000
Name: Burs Aldigi Baska Kurum, dtype: float64

### 2.22-) Burs Miktari

In [64]:
train_df = train_df.rename(columns={'Baska Kurumdan Aldigi Burs Miktari': 'Burs Miktari'})
train_df['Burs Miktari'] = train_df['Burs Miktari'].apply(extract_numbers)
analyze_column(train_df, 'Burs Miktari')

Unique values in 'Burs Miktari':
[    0   300   150   430   400   250  1000   850   500   280   900   365
   125   180   260   425   100   800   200   325   275   600   475   675
   750   330   490   320   560   350   720   590  1990  1160   535   700
  1500  2000   620   175   570  1200  1750   610   520   460   515  1100
   820   815   450   240   470    60   670   315   480   650   780   920
   440  1275   340   660   130  1120   420   375   514   225  1075   220
  2017   424   435   640  3000   120   485   550  1080   255  2700   665
   290  1250  1300 14500  2200   970  2300   525  1600    75   423    80
   410   270   170   140   580   390   124    50   415  2500   385    25
     5    72    70  5000   295   360   380     9   160    40   135     4
   840   210   370   990    90   185   137   265   530   115   310  2015
   775   110   950    35 20010  3675   165  1550  2016   725   426   433
   245   221    97   540  4225   215   230  1800   355    95  4200  2012
  1450   790  1410  1850   510  2750   505   383   630   999   499]

Value counts in 'Burs Miktari' (including NaNs):
Burs Miktari
0       49196
500      7421
999      2448
425      1596
400      1048
        ...
2700        1
310         1
2015        1
775         1
840         1
Name: count, Length: 167, dtype: int64

Number of missing values (NaNs) in 'Burs Miktari':
0

count    65125.000000
mean       134.751063
std        285.852389
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      20010.000000
Name: Burs Miktari, dtype: float64

### 2.23-) Anne Egitim Durumu

In [65]:
education_mapping = {
    "i̇lkokul mezunu": 1,
    "i̇lkokul": 1,
    "lise": 3,
    "li̇se": 3,
    "lise mezunu": 3,
    "üniversite": 4,
    "üni̇versi̇te": 4,
    "üniversite mezunu": 4,
    "ortaokul mezunu": 2,
    "ortaokul": 2,
    "eğitimi yok": 0,
    "eği̇ti̇m yok": 0,
    "eğitim yok": 0,
    "yüksek lisans": 5,
    "yüksek li̇sans": 5,
    "doktora": 5,
    "yüksek lisans / doktora": 5,
    "yüksek lisans / doktara": 5
}

train_df['Anne Egitim Durumu'] = train_df['Anne Egitim Durumu'].str.lower()
train_df['Anne Egitim Durumu'] = train_df['Anne Egitim Durumu'].map(education_mapping)
train_df['Anne Egitim Durumu'] = train_df['Anne Egitim Durumu'].fillna(1)
analyze_column(train_df, 'Anne Egitim Durumu')

Unique values in 'Anne Egitim Durumu':
[4. 1. 0. 3. 2. 5.]

Value counts in 'Anne Egitim Durumu' (including NaNs):
Anne Egitim Durumu
1.0    26557
3.0    13395
4.0     9012
0.0     8351
2.0     7033
5.0      777
Name: count, dtype: int64

Number of missing values (NaNs) in 'Anne Egitim Durumu':
0

count    65125.000000
mean         1.853988
std          1.328907
min          0.000000
25%          1.000000
50%          1.000000
75%          3.000000
max          5.000000
Name: Anne Egitim Durumu, dtype: float64

### 2.24-) Anne Calisma Durumu

In [66]:
train_df['Anne Calisma Durumu'] = train_df['Anne Calisma Durumu'].fillna('Hayır')
train_df['Anne Calisma Durumu'] = label_encoder.fit_transform(train_df['Anne Calisma Durumu'])
analyze_column(train_df, 'Anne Calisma Durumu')

Unique values in 'Anne Calisma Durumu':
[2 1 0]

Value counts in 'Anne Calisma Durumu' (including NaNs):
Anne Calisma Durumu
2    51267
1    10504
0     3354
Name: count, dtype: int64

Number of missing values (NaNs) in 'Anne Calisma Durumu':
0

count    65125.000000
mean         1.735708
std          0.545388
min          0.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: Anne Calisma Durumu, dtype: float64

### 2.24-) Anne Sektor

In [67]:
anne_sektor_mapping = {
    '0': 0,
    '-': 0,
    'diger': 1,
    'diğer': 1,
    'kamu': 2,
    'özel sektör': 3
}

train_df['Anne Sektor'] = train_df['Anne Sektor'].str.lower()
train_df['Anne Sektor'] = train_df['Anne Sektor'].map(anne_sektor_mapping)
train_df['Anne Sektor'] = train_df['Anne Sektor'].fillna(0)
analyze_column(train_df, 'Anne Sektor')

Unique values in 'Anne Sektor':
[0. 2. 3. 1.]

Value counts in 'Anne Sektor' (including NaNs):
Anne Sektor
0.0    52601
3.0     6042
2.0     5149
1.0     1333
Name: count, dtype: int64

Number of missing values (NaNs) in 'Anne Sektor':
0

count    65125.000000
mean         0.456921
std          0.981294
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          3.000000
Name: Anne Sektor, dtype: float64

### 2.25-) Baba Egitim Durumu

In [68]:
baba_education_mapping = {
    "eğitimi yok": 0,
    "eği̇ti̇m yok": 0,
    "eğitim yok": 0,
    "0": 0,  # for the value 0
    
    "i̇lkokul mezunu": 1,
    "i̇lkokul": 1,
    
    "ortaokul mezunu": 2,
    "ortaokul": 2,
    
    "lise": 3,
    "li̇se": 3,
    "lise mezunu": 3,
    
    "üniversite": 4,
    "üni̇versi̇te": 4,
    "üniversite mezunu": 4,
    
    "yüksek lisans": 5,
    "yüksek li̇sans": 5,
    "doktora": 5,
    "yüksek lisans / doktora": 5,
    "yüksek lisans / doktara": 5
}

train_df['Baba Egitim Durumu'] = train_df['Baba Egitim Durumu'].str.lower()
train_df['Baba Egitim Durumu'] = train_df['Baba Egitim Durumu'].map(baba_education_mapping)
train_df['Baba Egitim Durumu'] = train_df['Baba Egitim Durumu'].fillna(1)
analyze_column(train_df, 'Baba Egitim Durumu')

Unique values in 'Baba Egitim Durumu':
[4. 5. 1. 2. 3. 0.]

Value counts in 'Baba Egitim Durumu' (including NaNs):
Baba Egitim Durumu
1.0    20437
3.0    15895
4.0    15138
2.0     9180
0.0     2609
5.0     1866
Name: count, dtype: int64

Number of missing values (NaNs) in 'Baba Egitim Durumu':
0

count    65125.000000
mean         2.400983
std          1.320992
min          0.000000
25%          1.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: Baba Egitim Durumu, dtype: float64

### 2.26-) Baba Calisma Durumu

In [69]:
train_df['Baba Calisma Durumu'] = train_df['Baba Calisma Durumu'].fillna('Hayır')
train_df['Baba Calisma Durumu'] = label_encoder.fit_transform(train_df['Baba Calisma Durumu'])
analyze_column(train_df, 'Baba Calisma Durumu')

Unique values in 'Baba Calisma Durumu':
[0 1 2]

Value counts in 'Baba Calisma Durumu' (including NaNs):
Baba Calisma Durumu
1    28559
2    25104
0    11462
Name: count, dtype: int64

Number of missing values (NaNs) in 'Baba Calisma Durumu':
0

count    65125.000000
mean         1.209474
std          0.719446
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          2.000000
Name: Baba Calisma Durumu, dtype: float64

### 2.27-) Baba Sektor

In [70]:
baba_sektor_mapping = {
    '0': 0,
    '-': 0,
    'diger': 1,
    'diğer': 1,
    'kamu': 2,
    'özel sektör': 3
}

train_df['Baba Sektor'] = train_df['Baba Sektor'].str.lower()
train_df['Baba Sektor'] = train_df['Baba Sektor'].map(baba_sektor_mapping)
train_df['Baba Sektor'] = train_df['Baba Sektor'].fillna(0)
analyze_column(train_df, 'Baba Sektor')

Unique values in 'Baba Sektor':
[0. 3. 2. 1.]

Value counts in 'Baba Sektor' (including NaNs):
Baba Sektor
0.0    32476
3.0    15613
2.0    10319
1.0     6717
Name: count, dtype: int64

Number of missing values (NaNs) in 'Baba Sektor':
0

count    65125.000000
mean         1.139255
std          1.263610
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max          3.000000
Name: Baba Sektor, dtype: float64

### 2.28-) Kardes Sayisi

In [71]:
kardes_mapping = {
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    11: 11,
    12: 12,
    13: 13,
    14: 14,
    0.0: 0,
    1.0: 1,
    2.0: 2,
    3.0: 3,
    4.0: 4,
    5.0: 5,
    6.0: 6,
    7.0: 7,
    8.0: 8,
    9.0: 9,
    10.0: 10,
    11.0: 11,
    12.0: 12,
    13.0: 13,
    14.0: 14,
    18: 18,
    'Kardeş Sayısı 1 Ek Bilgi Aile Hk. Anne Vefat': 19,
}

train_df['Kardes Sayisi'] = train_df['Kardes Sayisi'].map(kardes_mapping)
train_df['Kardes Sayisi'] = train_df['Kardes Sayisi'].fillna(1) # mod
analyze_column(train_df, 'Kardes Sayisi')

Unique values in 'Kardes Sayisi':
[ 1. 19.  4.  5.  2.  6.  3.  9.  0. 10.  7.  8.]

Value counts in 'Kardes Sayisi' (including NaNs):
Kardes Sayisi
1.0     32926
2.0     13062
3.0      6734
4.0      4611
0.0      3701
5.0      3421
6.0       206
7.0       159
10.0      127
8.0        98
9.0        79
19.0        1
Name: count, dtype: int64

Number of missing values (NaNs) in 'Kardes Sayisi':
0

count    65125.000000
mean         1.841597
std          1.386260
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         19.000000
Name: Kardes Sayisi, dtype: float64

### 2.28-) Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?

In [72]:
train_df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'] = train_df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'].fillna('Hayır')
train_df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'] = label_encoder.fit_transform(train_df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'])
analyze_column(train_df, 'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?')

Unique values in 'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?':
[0 1]

Value counts in 'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?' (including NaNs):
Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?
1    35539
0    29586
Name: count, dtype: int64

Number of missing values (NaNs) in 'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?':
0

count    65125.000000
mean         0.545704
std          0.497911
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?, dtype: float64

### 2.29-) Uye Oldugunuz Kulubun Ismi

In [73]:
train_df['Uye Oldugunuz Kulubun Ismi'] = label_encoder.fit_transform(train_df['Uye Oldugunuz Kulubun Ismi'])
analyze_column(train_df, 'Uye Oldugunuz Kulubun Ismi') # YA DA DROP BELLI DEGIL 48 K BOS

Unique values in 'Uye Oldugunuz Kulubun Ismi':
[ 1401 13423  8771 ...  7725  5786  4000]

Value counts in 'Uye Oldugunuz Kulubun Ismi' (including NaNs):
Uye Oldugunuz Kulubun Ismi
13423    48691
4818       203
4248        60
5542        43
212         40
         ...
5344         1
5960         1
13189        1
12313        1
4000         1
Name: count, Length: 13424, dtype: int64

Number of missing values (NaNs) in 'Uye Oldugunuz Kulubun Ismi':
0

count    65125.000000
mean     11726.717482
std       3501.371706
min          0.000000
25%      13323.000000
50%      13423.000000
75%      13423.000000
max      13423.000000
Name: Uye Oldugunuz Kulubun Ismi, dtype: float64

### 2.30-) Profesyonel Bir Spor Daliyla Mesgul musunuz?

In [74]:
train_df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'] = train_df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'].fillna('Hayır')
train_df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'] = label_encoder.fit_transform(train_df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'])
analyze_column(train_df, 'Profesyonel Bir Spor Daliyla Mesgul musunuz?')

Unique values in 'Profesyonel Bir Spor Daliyla Mesgul musunuz?':
[0 1]

Value counts in 'Profesyonel Bir Spor Daliyla Mesgul musunuz?' (including NaNs):
Profesyonel Bir Spor Daliyla Mesgul musunuz?
1    43358
0    21767
Name: count, dtype: int64

Number of missing values (NaNs) in 'Profesyonel Bir Spor Daliyla Mesgul musunuz?':
0

count    65125.000000
mean         0.665766
std          0.471726
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: Profesyonel Bir Spor Daliyla Mesgul musunuz?, dtype: float64

### 2.31-) Spor Dalindaki Rolunuz Nedir?

In [75]:
rol_mapping = {
    '0': 0,
    '-': 0,
    'Diger': 0,
    'DİĞER': 0,
    'Bireysel': 1,
    'Takım Oyuncusu': 2,
    'KAPTAN / LİDER': 3,
    'Lider/Kaptan': 3,
    'Kaptan': 3
}

train_df['Spor Dalindaki Rolunuz Nedir?'] = train_df['Spor Dalindaki Rolunuz Nedir?'].map(rol_mapping)
train_df['Spor Dalindaki Rolunuz Nedir?'] = train_df['Spor Dalindaki Rolunuz Nedir?'].fillna(0)
analyze_column(train_df, 'Spor Dalindaki Rolunuz Nedir?')

Unique values in 'Spor Dalindaki Rolunuz Nedir?':
[0. 3. 1. 2.]

Value counts in 'Spor Dalindaki Rolunuz Nedir?' (including NaNs):
Spor Dalindaki Rolunuz Nedir?
0.0    58544
3.0     3709
1.0     1697
2.0     1175
Name: count, dtype: int64

Number of missing values (NaNs) in 'Spor Dalindaki Rolunuz Nedir?':
0

count    65125.000000
mean         0.232998
std          0.745999
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          3.000000
Name: Spor Dalindaki Rolunuz Nedir?, dtype: float64

### 2.32-) Aktif olarak bir STK üyesi misiniz?

In [76]:
train_df['Aktif olarak bir STK üyesi misiniz?'] = train_df['Aktif olarak bir STK üyesi misiniz?'].fillna('Hayır')
train_df['Aktif olarak bir STK üyesi misiniz?'] = label_encoder.fit_transform(train_df['Aktif olarak bir STK üyesi misiniz?'])
analyze_column(train_df, 'Aktif olarak bir STK üyesi misiniz?')

Unique values in 'Aktif olarak bir STK üyesi misiniz?':
[1 0]

Value counts in 'Aktif olarak bir STK üyesi misiniz?' (including NaNs):
Aktif olarak bir STK üyesi misiniz?
1    50558
0    14567
Name: count, dtype: int64

Number of missing values (NaNs) in 'Aktif olarak bir STK üyesi misiniz?':
0

count    65125.000000
mean         0.776322
std          0.416712
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: Aktif olarak bir STK üyesi misiniz?, dtype: float64

### 2.33-) Hangi STK'nin Uyesisiniz?

In [77]:
stk_mapping = {
    'Kızılay': 'Kızılay',
    'KIZILAY': 'Kızılay',
    'kızılay': 'Kızılay',
    'Türk Kızılayı': 'Kızılay',
    'KIZILAY': 'Kızılay',
    'KIZILAY': 'Kızılay',
    '-': 'Unknown',
    'Tema': 'TEMA',
    'TEMA': 'TEMA',
    'TEMA Vakfı': 'TEMA',
    'Tema Vakfı': 'TEMA',
    'TEMA VAKFI': 'TEMA',
    'tema': 'TEMA',
    'tema vakfı': 'TEMA',
    'Tegv': 'TEGV',
    'TEGV': 'TEGV',
    'toplum gönüllüleri': 'Toplum Gönüllüleri',
    'Toplum Gönüllüleri': 'Toplum Gönüllüleri',
    'Toplum Gönüllüleri Vakfı': 'Toplum Gönüllüleri',
    'Toplum gönüllüleri vakfı': 'Toplum Gönüllüleri',
    'Toplum Gönüllüleri Vakfı': 'Toplum Gönüllüleri',
    'toplum gönüllüleri vakfı': 'Toplum Gönüllüleri',
    'TOG': 'TOG',
    'Tog': 'TOG',
    'AIESEC': 'AIESEC',
    'Aiesec': 'AIESEC',
    'Yeşilay': 'Yeşilay',
    'yeşilay': 'Yeşilay',
    'AFAD': 'AFAD',
    'Afad': 'AFAD',
    'Sivil Yaşam Derneği': 'Sivil Yaşam Derneği',
    'Çağdaş Yaşamı Destekleme Derneği': 'Çağdaş Yaşamı Destekleme Derneği',
    'Çağdaş yaşamı destekleme derneği': 'Çağdaş Yaşamı Destekleme Derneği',
    'Ahbap': 'Ahbap',
    'Greenpeace': 'Greenpeace',
    'YGA': 'YGA',
    'Young Guru Academy': 'YGA',
    'Türkiye Eğitim Gönüllüleri Vakfı': 'Türkiye Eğitim Gönüllüleri Vakfı',
    'İHH': 'İHH',
    'Habitat Derneği': 'Habitat Derneği',
    'Habitat derneği': 'Habitat Derneği',
    'Habitat': 'Habitat Derneği',
    'Anadolu Gençlik Derneği': 'Anadolu Gençlik Derneği',
    'IEEE': 'IEEE'
}

train_df['Hangi STK\'nin Uyesisiniz?'] = train_df['Hangi STK\'nin Uyesisiniz?'].map(stk_mapping).fillna('Other')
analyze_column(train_df, 'Hangi STK\'nin Uyesisiniz?')

In [78]:
train_df['Hangi STK\'nin Uyesisiniz?'] = label_encoder.fit_transform(train_df['Hangi STK\'nin Uyesisiniz?'])
analyze_column(train_df, 'Hangi STK\'nin Uyesisiniz?') # Standar scale or drop ?

Unique values in 'Hangi STK'nin Uyesisiniz?':
[9490 1583 8435 ... 1743 2490 2303]

Value counts in 'Hangi STK'nin Uyesisiniz?' (including NaNs):
Hangi STK'nin Uyesisiniz?
9490    49518
10       2956
3770      238
6623      196
5859      181
        ...
1670        1
9412        1
4825        1
2365        1
2303        1
Name: count, Length: 9491, dtype: int64

Number of missing values (NaNs) in 'Hangi STK'nin Uyesisiniz?':
0

count    65125.000000
mean      8162.293390
std       2798.007367
min          0.000000
25%       9490.000000
50%       9490.000000
75%       9490.000000
max       9490.000000
Name: Hangi STK'nin Uyesisiniz?, dtype: float64

### 2.34-) Stk Projesine Katildiniz Mi?

In [79]:
train_df['Stk Projesine Katildiniz Mi?'] = train_df['Stk Projesine Katildiniz Mi?'].fillna('Hayır')
train_df['Stk Projesine Katildiniz Mi?'] = label_encoder.fit_transform(train_df['Stk Projesine Katildiniz Mi?'])
analyze_column(train_df, 'Stk Projesine Katildiniz Mi?')

Unique values in 'Stk Projesine Katildiniz Mi?':
[0 1]

Value counts in 'Stk Projesine Katildiniz Mi?' (including NaNs):
Stk Projesine Katildiniz Mi?
1    47969
0    17156
Name: count, dtype: int64

Number of missing values (NaNs) in 'Stk Projesine Katildiniz Mi?':
0

count    65125.000000
mean         0.736568
std          0.440498
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: Stk Projesine Katildiniz Mi?, dtype: float64

### 2.35-) Girisimcilikle Ilgili Deneyiminiz Var Mi?

In [80]:
train_df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'] = train_df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'].fillna('Hayır')
train_df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'] = label_encoder.fit_transform(train_df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'])
analyze_column(train_df, 'Girisimcilikle Ilgili Deneyiminiz Var Mi?')

Unique values in 'Girisimcilikle Ilgili Deneyiminiz Var Mi?':
[1 0]

Value counts in 'Girisimcilikle Ilgili Deneyiminiz Var Mi?' (including NaNs):
Girisimcilikle Ilgili Deneyiminiz Var Mi?
1    46759
0    18366
Name: count, dtype: int64

Number of missing values (NaNs) in 'Girisimcilikle Ilgili Deneyiminiz Var Mi?':
0

count    65125.000000
mean         0.717988
std          0.449982
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: Girisimcilikle Ilgili Deneyiminiz Var Mi?, dtype: float64

### 2.36-) Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?

In [81]:
train_df['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'] = train_df['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'].fillna('-')
train_df['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'] = train_df['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'].apply(lambda x: 0 if x == '-' else 1)
analyze_column(train_df, 'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?')

Unique values in 'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?':
[0 1]

Value counts in 'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?' (including NaNs):
Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?
0    55722
1     9403
Name: count, dtype: int64

Number of missing values (NaNs) in 'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?':
0

count    65125.000000
mean         0.144384
std          0.351481
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?, dtype: float64

### 2.37-) Ingilizce Biliyor musunuz?

In [82]:
train_df['Ingilizce Biliyor musunuz?'] = train_df['Ingilizce Biliyor musunuz?'].fillna('Evet')
train_df['Ingilizce Biliyor musunuz?'] = label_encoder.fit_transform(train_df['Ingilizce Biliyor musunuz?'])
analyze_column(train_df, 'Ingilizce Biliyor musunuz?')

Unique values in 'Ingilizce Biliyor musunuz?':
[0 1]

Value counts in 'Ingilizce Biliyor musunuz?' (including NaNs):
Ingilizce Biliyor musunuz?
0    55326
1     9799
Name: count, dtype: int64

Number of missing values (NaNs) in 'Ingilizce Biliyor musunuz?':
0

count    65125.000000
mean         0.150464
std          0.357529
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Ingilizce Biliyor musunuz?, dtype: float64

### 2.38-) Ingilizce Seviyeniz?

In [83]:
analyze_column(train_df, 'Ingilizce Seviyeniz?')

Unique values in 'Ingilizce Seviyeniz?':
[nan 'İleri' 'Orta' '0' 'Başlangıç']

Value counts in 'Ingilizce Seviyeniz?' (including NaNs):
Ingilizce Seviyeniz?
NaN          36533
Orta         13057
İleri         8318
Başlangıç     5180
0             2037
Name: count, dtype: int64

Number of missing values (NaNs) in 'Ingilizce Seviyeniz?':
36533

count     28592
unique        4
top        Orta
freq      13057
Name: Ingilizce Seviyeniz?, dtype: object

In [84]:
ing_mapping = {
    'Başlangıç': 1,
    'Orta': 2,
    'İleri': 3,
    '0': 0,
}

train_df['Ingilizce Seviyeniz?'] = train_df['Ingilizce Seviyeniz?'].map(ing_mapping)
train_df['Ingilizce Seviyeniz?'] = train_df['Ingilizce Seviyeniz?'].fillna(0)
analyze_column(train_df, 'Ingilizce Seviyeniz?')

Unique values in 'Ingilizce Seviyeniz?':
[0. 3. 2. 1.]

Value counts in 'Ingilizce Seviyeniz?' (including NaNs):
Ingilizce Seviyeniz?
0.0    38570
2.0    13057
3.0     8318
1.0     5180
Name: count, dtype: int64

Number of missing values (NaNs) in 'Ingilizce Seviyeniz?':
0

count    65125.000000
mean         0.863693
std          1.133610
min          0.000000
25%          0.000000
50%          0.000000
75%          2.000000
max          3.000000
Name: Ingilizce Seviyeniz?, dtype: float64

### 2.39-) Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite

In [86]:
analyze_column(train_df, 'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite')

Unique values in 'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite':
[nan 'Sabancı Üniversitesi' 'Anadolu Üniversitesi'
 'Mimar Sinan Güzel Sanatlar Üniversitesi' 'Adıyaman Üniversitesi'
 'TOBB Ekonomi ve Teknoloji Üniversitesi' 'Yalova Üniversitesi'
 'İSTANBUL ÜNİVERSİTESİ' 'ATATÜRK ÜNİVERSİTESİ' 'DOĞUŞ ÜNİVERSİTESİ'
 'MARMARA ÜNİVERSİTESİ' 'SAKARYA ÜNİVERSİTESİ' 'ÇANAKKALE ONSEKİZ MART'
 'KOCAELİ ÜNİVERSİTESİ' 'KARABÜK ÜNİVERSİTESİ' 'ANADOLU ÜNİVERSİTESİ'
 'ÇUKUROVA ÜNİVERSİTESİ' 'İZMİR EKONOMİ ÜNİVERSİTESİ'
 'TRAKYA ÜNİVERSİTESİ' 'İSTANBUL KÜLTÜR ÜNİVERSİTESİ'
 'ÜSKÜDAR ÜNİVERSİTESİ' 'EGE ÜNİVERSİTESİ' 'OKAN ÜNİVERSİTESİ'
 'BEYKOZ LOJİSTİK MESLEK' 'Düzce Üniversitesi' 'Marmara Üniversitesi'
 'Bahçeşehir Üniversitesi' 'AVRASYA ÜNİVERSİTESİ' 'PİRİ REİS ÜNİVERSİTESİ'
 'İSTANBUL MEDİPOL ÜNİVERSİTESİ' 'Çukurova Üniversitesi'
 'Bozok Üniversitesi' 'Siirt Üniversitesi' 'Yıldız Teknik Üniversitesi'
 'İstanbul Gelişim Üniversitesi' 'Yüzüncü Yıl Üniversitesi'
 'Okan Üniversitesi' 'MİMAR SİNAN GÜZEL SANATLAR'
 'İSTANBUL BİLGİ ÜNİVERSİTESİ' 'YALOVA ÜNİVERSİTESİ' 'ORDU ÜNİVERSİTESİ'
 'İSTANBUL AYDIN ÜNİVERSİTESİ' 'BEYKENT ÜNİVERSİTESİ'
 'İSTANBUL KEMERBURGAZ ÜNİVERSİTESİ' 'İSTANBUL GELİŞİM ÜNİVERSİTESİ'
 'BAHÇEŞEHİR ÜNİVERSİTESİ' 'ULUDAĞ ÜNİVERSİTESİ' 'BAŞKENT ÜNİVERSİTESİ'
 'MEHMET AKİF ERSOY ÜNİVERSİTESİ' 'ÇAĞ ÜNİVERSİTESİ' 'GEDİZ ÜNİVERSİTESİ'
 'HACETTEPE ÜNİVERSİTESİ' 'İZMİR ÜNİVERSİTESİ'
 'Afyon Kocatepe Üniversitesi' 'Kocaeli Üniversitesi'
 'Dokuz Eylül Üniversitesi' 'Süleyman Demirel Üniversitesi'
 'Balıkesir Üniversitesi' 'Hacettepe Üniversitesi'
 'Gaziosmanpaşa Üniversitesi' 'Muğla Sıtkı Koçman Üniversitesi'
 'Kahramanmaraş Sütçü İmam Üniversitesi' 'Giresun Üniversitesi'
 'Beykent Üniversitesi' 'Mersin Üniversitesi' 'Erciyes Üniversitesi'
 'Kastamonu Üniversitesi' 'Pamukkale Üniversitesi'
 'İstanbul Arel Üniversitesi' 'Ege Üniversitesi' 'Ankara Üniversitesi'
 'Çanakkale Onsekiz Mart Üniversitesi' 'Bülent Ecevit Üniversitesi'
 'Trakya Üniversitesi' 'Adnan Menderes Üniversitesi'
 'İstanbul Üniversitesi' 'Abant İzzet Baysal Üniversitesi'
 'Gazi Üniversitesi' 'Orta Doğu Teknik Üniversitesi'
 'İstanbul Kültür Üniversitesi' 'Bingöl Üniversitesi'
 'Dumlupınar Üniversitesi' 'Bitlis Eren Üniversitesi'
 'İstanbul Ticaret Üniversitesi' 'Üsküdar Üniversitesi'
 'Akdeniz Üniversitesi' 'İstanbul Teknik Üniversitesi'
 'Toros Üniversitesi' 'Namık Kemal Üniversitesi'
 'Karadeniz Teknik Üniversitesi' 'Nevşehir Hacı Bektaş Veli Üniversitesi'
 'Ondokuz Mayıs Üniversitesi' 'Uludağ Üniversitesi' 'Harran Üniversitesi'
 'Atatürk Üniversitesi' 'Sakarya Üniversitesi'
 'Necmettin Erbakan Üniversitesi' 'Ordu Üniversitesi'
 'Gaziantep Üniversitesi' 'İstanbul Aydın Üniversitesi'
 'Boğaziçi Üniversitesi' 'Bartın Üniversitesi' 'Kırıkkale Üniversitesi'
 'Karabük Üniversitesi' 'Çağ Üniversitesi' 'Selçuk Üniversitesi'
 'İSTANBUL TEKNİK ÜNİVERSİTESİ' 'BALIKESİR ÜNİVERSİTESİ'
 'MERSİN ÜNİVERSİTESİ' 'SİİRT ÜNİVERSİTESİ' 'SELÇUK ÜNİVERSİTESİ'
 'GEDİK ÜNİVERSİTESİ' 'ERZURUM TEKNİK ÜNİVERSİTESİ'
 'KAHRAMANMARAŞ SÜTÇÜ İMAM' 'DÜZCE ÜNİVERSİTESİ'
 'CELAL BAYAR ÜNİVERSİTESİ' 'KAFKAS ÜNİVERSİTESİ' 'DİCLE ÜNİVERSİTESİ'
 'AFYON KOCATEPE ÜNİVERSİTESİ' 'ORTA DOĞU TEKNİK ÜNİVERSİTESİ'
 'YILDIRIM BEYAZIT ÜNİVERSİTESİ' 'GAZİANTEP ÜNİVERSİTESİ'
 'AKDENİZ ÜNİVERSİTESİ' 'ESKİŞEHİR OSMANGAZİ ÜNİVERSİTESİ'
 'GAZİOSMANPAŞA ÜNİVERSİTESİ' 'SÜLEYMAN DEMİREL ÜNİVERSİTESİ'
 'BİNGÖL ÜNİVERSİTESİ' 'AKSARAY ÜNİVERSİTESİ' 'YAŞAR ÜNİVERSİTESİ'
 'UŞAK ÜNİVERSİTESİ' 'BÜLENT ECEVİT ÜNİVERSİTESİ'
 'PLATO MESLEK YÜKSEKOKULU' 'İHSAN DOĞRAMACI BİLKENT'
 'İSTANBUL ESENYURT ÜNİVERSİTESİ' 'HAKKARİ ÜNİVERSİTESİ' 'Diğer'
 'İSTANBUL SABAHATTİN ZAİM' 'GİRESUN ÜNİVERSİTESİ' 'GAZİ ÜNİVERSİTESİ'
 'ADNAN MENDERES ÜNİVERSİTESİ' 'AMASYA ÜNİVERSİTESİ'
 'ONDOKUZ MAYIS ÜNİVERSİTESİ' 'TOROS ÜNİVERSİTESİ'
 'DOKUZ EYLÜL ÜNİVERSİTESİ' 'ERZİNCAN ÜNİVERSİTESİ'
 'MUĞLA SITKI KOÇMAN ÜNİVERSİTESİ' 'NİŞANTAŞI ÜNİVERSİTESİ'
 'FIRAT ÜNİVERSİTESİ' 'RECEP TAYYİP ERDOĞAN ÜNİVERSİTESİ'
 'AHİ EVRAN ÜNİVERSİTESİ' 'PAMUKKALE ÜNİVERSİTESİ'
 'ABANT İZZET BAYSAL ÜNİVERSİTESİ' 'GÜMÜŞHANE ÜNİVERSİTESİ'
 'NEVŞEHİR HACI BEKTAŞ VELİ' 'İSTANBUL AREL ÜNİVERSİTESİ'
 'YILDIZ TEKNİK ÜNİVERSİTESİ' 'ANKARA ÜNİVERSİTESİ' 'ARDAHAN ÜNİVERSİTESİ'
 'BİLECİK ŞEYH EDEBALİ ÜNİVERSİTESİ' 'AĞRI İBRAHİM ÇEÇEN ÜNİVERSİTESİ'
 'HARRAN ÜNİVERSİTESİ' 'KARADENİZ TEKNİK ÜNİVERSİTESİ'
 'KIRIKKALE ÜNİVERSİTESİ' 'NAMIK KEMAL ÜNİVERSİTESİ' 'SİNOP ÜNİVERSİTESİ'
 'CUMHURİYET ÜNİVERSİTESİ' 'TOBB EKONOMİ VE TEKNOLOJİ'
 'İNÖNÜ ÜNİVERSİTESİ' 'HASAN KALYONCU ÜNİVERSİTESİ']

Value counts in 'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite' (including NaNs):
Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite
NaN                              64706
Anadolu Üniversitesi                26
ANADOLU ÜNİVERSİTESİ                19
MARMARA ÜNİVERSİTESİ                11
İSTANBUL ÜNİVERSİTESİ                8
                                 ...
Bitlis Eren Üniversitesi             1
Bingöl Üniversitesi                  1
İstanbul Kültür Üniversitesi         1
Orta Doğu Teknik Üniversitesi        1
HASAN KALYONCU ÜNİVERSİTESİ          1
Name: count, Length: 169, dtype: int64

Number of missing values (NaNs) in 'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite':
64706

count                      419
unique                     168
top       Anadolu Üniversitesi
freq                        26
Name: Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite, dtype: object

In [87]:
train_df['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'] = label_encoder.fit_transform(train_df['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'])
scaler = StandardScaler()
train_df['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'] = scaler.fit_transform(train_df[['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite']])

In [88]:
analyze_dataframe(train_df)

SHAPE
(65125, 44)

----------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65125 entries, 0 to 65124
Data columns (total 44 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Basvuru Yili                                               65125 non-null  int64
 1   Degerlendirme Puani                                        65125 non-null  float64
 2   Cinsiyet                                                   65125 non-null  int64
 3   Dogum Tarihi                                               65125 non-null  float64
 4   Dogum Yeri                                                 65125 non-null  int64
 5   Ikametgah Sehri                                            65125 non-null  int64
 6   Universite Adi                                             65125 non-null  int64
 7   Universite Turu                                            65125 non-null  int64
 8   Burs Yuzdesi                                               65125 non-null  float64
 9   Burs Aliyor mu?                                            65125 non-null  int64
 10  Bölüm                                                      65125 non-null  int64
 11  Sinif                                                      65125 non-null  int64
 12  Not Ortalamasi                                             65125 non-null  float64
 13  Mezuniyet Durumu                                           65125 non-null  int64
 14  Lise Adi                                                   64741 non-null  object
 15  Lise Adi Diger                                             4733 non-null   object
 16  Lise Sehir                                                 65125 non-null  int64
 17  Lise Turu                                                  65125 non-null  float64
 18  Lise Bolumu                                                65125 non-null  int64
 19  Lise Bolum Diger                                           1526 non-null   object
 20  Lise Mezuniyet Notu                                        65125 non-null  float64
 21  Baska Bir Kurumdan Burs Aliyor mu?                         65125 non-null  int64
 22  Burs Aldigi Baska Kurum                                    65125 non-null  int64
 23  Burs Miktari                                               65125 non-null  int64
 24  Anne Egitim Durumu                                         65125 non-null  float64
 25  Anne Calisma Durumu                                        65125 non-null  int64
 26  Anne Sektor                                                65125 non-null  float64
 27  Baba Egitim Durumu                                         65125 non-null  float64
 28  Baba Calisma Durumu                                        65125 non-null  int64
 29  Baba Sektor                                                65125 non-null  float64
 30  Kardes Sayisi                                              65125 non-null  float64
 31  Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?       65125 non-null  int64
 32  Uye Oldugunuz Kulubun Ismi                                 65125 non-null  int64
 33  Profesyonel Bir Spor Daliyla Mesgul musunuz?               65125 non-null  int64
 34  Spor Dalindaki Rolunuz Nedir?                              65125 non-null  float64
 35  Aktif olarak bir STK üyesi misiniz?                        65125 non-null  int64
 36  Hangi STK'nin Uyesisiniz?                                  65125 non-null  int64
 37  Stk Projesine Katildiniz Mi?                               65125 non-null  int64
 38  Girisimcilikle Ilgili Deneyiminiz Var Mi?                  65125 non-null  int64
 39  Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?  65125 non-null  int64
 40  Ingilizce Biliyor musunuz?                                 65125 non-null  int64
 41  Ingilizce Seviyeniz?                                       65125 non-null  float64
 42  Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite      65125 non-null  float64
 43  id                                                         65125 non-null  int64
dtypes: float64(14), int64(27), object(3)
memory usage: 21.9+ MB
None

----------------------------------------------------

       Basvuru Yili  Degerlendirme Puani      Cinsiyet  Dogum Tarihi  \
count  65125.000000         65125.000000  65125.000000  65125.000000
mean    2018.277298            32.086418      1.490779     26.251680
std        2.669979            18.139104      0.503439      2.890494
min     2014.000000             0.000000      0.000000     17.111567
25%     2016.000000            18.000000      1.000000     23.975359
50%     2019.000000            29.000000      1.000000     26.251680
75%     2021.000000            44.000000      2.000000     28.347707
max     2022.000000           102.000000      2.000000     33.995893

         Dogum Yeri  Ikametgah Sehri  Universite Adi  Universite Turu  \
count  65125.000000     65125.000000    65125.000000     65125.000000
mean      47.693390        50.942326      261.316269         0.178242
std       27.556491        28.693058      148.045896         0.382719
min        0.000000         0.000000        0.000000         0.000000
25%       22.000000        23.000000      139.000000         0.000000
50%       51.000000        62.000000      269.000000         0.000000
75%       77.000000        77.000000      401.000000         0.000000
max       80.000000        80.000000      527.000000         1.000000

       Burs Yuzdesi  Burs Aliyor mu?  ...  Spor Dalindaki Rolunuz Nedir?  \
count  65125.000000     65125.000000  ...                   65125.000000
mean      11.793251         0.802303  ...                       0.232998
std       29.355905         0.398265  ...                       0.745999
min        0.000000         0.000000  ...                       0.000000
25%        0.000000         1.000000  ...                       0.000000
50%        0.000000         1.000000  ...                       0.000000
75%        0.000000         1.000000  ...                       0.000000
max      100.000000         1.000000  ...                       3.000000

       Aktif olarak bir STK üyesi misiniz?  Hangi STK'nin Uyesisiniz?  \
count                         65125.000000               65125.000000
mean                              0.776322                8162.293390
std                               0.416712                2798.007367
min                               0.000000                   0.000000
25%                               1.000000                9490.000000
50%                               1.000000                9490.000000
75%                               1.000000                9490.000000
max                               1.000000                9490.000000

       Stk Projesine Katildiniz Mi?  \
count                  65125.000000
mean                       0.736568
std                        0.440498
min                        0.000000
25%                        0.000000
50%                        1.000000
75%                        1.000000
max                        1.000000

       Girisimcilikle Ilgili Deneyiminiz Var Mi?  \
count                               65125.000000
mean                                    0.717988
std                                     0.449982
min                                     0.000000
25%                                     0.000000
50%                                     1.000000
75%                                     1.000000
max                                     1.000000

       Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?  \
count                                       65125.000000
mean                                            0.144384
std                                             0.351481
min                                             0.000000
25%                                             0.000000
50%                                             0.000000
75%                                             0.000000
max                                             1.000000

       Ingilizce Biliyor musunuz?  Ingilizce Seviyeniz?  \
count                65125.000000          65125.000000
mean                     0.150464              0.863693
std                      0.357529              1.133610
min                      0.000000              0.000000
25%                      0.000000              0.000000
50%                      0.000000              0.000000
75%                      0.000000              2.000000
max                      1.000000              3.000000

       Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite            id
count                                       6.512500e+04      65125.000000
mean                                       -2.618507e-16      32562.000000
std                                         1.000008e+00      18800.112478
min                                        -1.978322e+01          0.000000
25%                                         7.051059e-02      16281.000000
50%                                         7.051059e-02      32562.000000
75%                                         7.051059e-02      48843.000000
max                                         7.051059e-02      65124.000000

[8 rows x 41 columns]

----------------------------------------------------

Basvuru Yili                                                     0
Degerlendirme Puani                                              0
Cinsiyet                                                         0
Dogum Tarihi                                                     0
Dogum Yeri                                                       0
Ikametgah Sehri                                                  0
Universite Adi                                                   0
Universite Turu                                                  0
Burs Yuzdesi                                                     0
Burs Aliyor mu?                                                  0
Bölüm                                                            0
Sinif                                                            0
Not Ortalamasi                                                   0
Mezuniyet Durumu                                                 0
Lise Adi                                                       384
Lise Adi Diger                                               60392
Lise Sehir                                                       0
Lise Turu                                                        0
Lise Bolumu                                                      0
Lise Bolum Diger                                             63599
Lise Mezuniyet Notu                                              0
Baska Bir Kurumdan Burs Aliyor mu?                               0
Burs Aldigi Baska Kurum                                          0
Burs Miktari                                                     0
Anne Egitim Durumu                                               0
Anne Calisma Durumu                                              0
Anne Sektor                                                      0
Baba Egitim Durumu                                               0
Baba Calisma Durumu                                              0
Baba Sektor                                                      0
Kardes Sayisi                                                    0
Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?             0
Uye Oldugunuz Kulubun Ismi                                       0
Profesyonel Bir Spor Daliyla Mesgul musunuz?                     0
Spor Dalindaki Rolunuz Nedir?                                    0
Aktif olarak bir STK üyesi misiniz?                              0
Hangi STK'nin Uyesisiniz?                                        0
Stk Projesine Katildiniz Mi?                                     0
Girisimcilikle Ilgili Deneyiminiz Var Mi?                        0
Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?        0
Ingilizce Biliyor musunuz?                                       0
Ingilizce Seviyeniz?                                             0
Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite            0
id                                                               0
dtype: int64

----------------------------------------------------

Index(['Basvuru Yili', 'Degerlendirme Puani', 'Cinsiyet', 'Dogum Tarihi',
       'Dogum Yeri', 'Ikametgah Sehri', 'Universite Adi', 'Universite Turu',
       'Burs Yuzdesi', 'Burs Aliyor mu?', 'Bölüm', 'Sinif', 'Not Ortalamasi',
       'Mezuniyet Durumu', 'Lise Adi', 'Lise Adi Diger', 'Lise Sehir',
       'Lise Turu', 'Lise Bolumu', 'Lise Bolum Diger', 'Lise Mezuniyet Notu',
       'Baska Bir Kurumdan Burs Aliyor mu?', 'Burs Aldigi Baska Kurum',
       'Burs Miktari', 'Anne Egitim Durumu', 'Anne Calisma Durumu',
       'Anne Sektor', 'Baba Egitim Durumu', 'Baba Calisma Durumu',
       'Baba Sektor', 'Kardes Sayisi',
       'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?',
       'Uye Oldugunuz Kulubun Ismi',
       'Profesyonel Bir Spor Daliyla Mesgul musunuz?',
       'Spor Dalindaki Rolunuz Nedir?', 'Aktif olarak bir STK üyesi misiniz?',
       'Hangi STK'nin Uyesisiniz?', 'Stk Projesine Katildiniz Mi?',
       'Girisimcilikle Ilgili Deneyiminiz Var Mi?',
       'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?',
       'Ingilizce Biliyor musunuz?', 'Ingilizce Seviyeniz?',
       'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite', 'id'],
      dtype='object')